sudo:
  required

dist:
  trusty

addons:
  apt:
    packages:
      - pandoc

language:
  python

python:
  - 2.7
  - 3.3
  - 3.4
  - 3.5

env:
  global:
    - TOXENV="py${PYTHON_VERSION//./}"

install:
  - make install
  - pip install coveralls

script:
  - make test

after_success:
  - coveralls

before_deploy:
  - pandoc --version
  - pandoc -f markdown_github -t rst -o README.rst README.md
  - mv README.rst README.md

deploy:
  provider: pypi
  user: roll
  distributions: sdist bdist_wheel
  skip_cleanup: true
  on:
    tags: true
  password:
    secure: fF4lcMoigcCNec0AKEgurNrbqjUDZUw9ISo1EMtlMfogy/3dq4Oc6u/Ees1CXt+BUQ0R4iPpdc5DtN2w1qQ9ToYIX4did4C0Y67OS/K+Jo3aQ+lWROjpn9oAOVyE9VqDAJAXC6kjGfEmIXIQW+qS4JjKb5dW0Fq0FAitWLXHzYk=
