interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://zenodo.org/api/records?communities=zenodo&page=3&size=1&type=dataset
  response:
    body:
      string: '{"hits": {"hits": [], "total": 0}, "aggregations": {"access_status":
        {"buckets": [], "label": "Access status"}, "resource_type": {"buckets": [],
        "label": "Resource types"}, "subject": {"buckets": [], "label": "Subjects"},
        "file_type": {"buckets": [], "label": "File type"}}, "links": {"self": "https://zenodo.org/api/records?communities=zenodo&page=3&size=1&sort=newest&type=dataset"}}'
    headers:
      content-type:
      - application/json
      retry-after:
      - '15'
      x-ratelimit-limit:
      - '133'
      x-ratelimit-remaining:
      - '95'
      x-ratelimit-reset:
      - '1753531313'
    status:
      code: 200
      message: OK
version: 1
