interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://frictionlessdata.io/schemas/data-package.json
  response:
    body:
      string: ''
    headers:
      Location:
      - https://specs.frictionlessdata.io/schemas/data-package.json
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://specs.frictionlessdata.io/schemas/data-package.json
  response:
    body:
      string: "{\n  \"$schema\": \"http://json-schema.org/draft-04/schema#\",\n  \"title\":
        \"Data Package\",\n  \"description\": \"Data Package is a simple specification
        for data access and delivery.\",\n  \"type\": \"object\",\n  \"required\":
        [\n    \"resources\"\n  ],\n  \"properties\": {\n    \"profile\": {\n      \"default\":
        \"data-package\",\n      \"propertyOrder\": 10,\n      \"title\": \"Profile\",\n
        \     \"description\": \"The profile of this descriptor.\",\n      \"context\":
        \"Every Package and Resource descriptor has a profile. The default profile,
        if none is declared, is `data-package` for Package and `data-resource` for
        Resource.\",\n      \"type\": \"string\",\n      \"examples\": [\n        \"{\\n
        \ \\\"profile\\\": \\\"tabular-data-package\\\"\\n}\\n\",\n        \"{\\n
        \ \\\"profile\\\": \\\"http://example.com/my-profiles-json-schema.json\\\"\\n}\\n\"\n
        \     ]\n    },\n    \"name\": {\n      \"propertyOrder\": 20,\n      \"title\":
        \"Name\",\n      \"description\": \"An identifier string. Lower case characters
        with `.`, `_`, `-` and `/` are allowed.\",\n      \"type\": \"string\",\n
        \     \"pattern\": \"^([-a-z0-9._/])+$\",\n      \"context\": \"This is ideally
        a url-usable and human-readable name. Name `SHOULD` be invariant, meaning
        it `SHOULD NOT` change when its parent descriptor is updated.\",\n      \"examples\":
        [\n        \"{\\n  \\\"name\\\": \\\"my-nice-name\\\"\\n}\\n\"\n      ]\n
        \   },\n    \"id\": {\n      \"propertyOrder\": 30,\n      \"title\": \"ID\",\n
        \     \"description\": \"A property reserved for globally unique identifiers.
        Examples of identifiers that are unique include UUIDs and DOIs.\",\n      \"context\":
        \"A common usage pattern for Data Packages is as a packaging format within
        the bounds of a system or platform. In these cases, a unique identifier for
        a package is desired for common data handling workflows, such as updating
        an existing package. While at the level of the specification, global uniqueness
        cannot be validated, consumers using the `id` property `MUST` ensure identifiers
        are globally unique.\",\n      \"type\": \"string\",\n      \"examples\":
        [\n        \"{\\n  \\\"id\\\": \\\"b03ec84-77fd-4270-813b-0c698943f7ce\\\"\\n}\\n\",\n
        \       \"{\\n  \\\"id\\\": \\\"http://dx.doi.org/10.1594/PANGAEA.726855\\\"\\n}\\n\"\n
        \     ]\n    },\n    \"title\": {\n      \"propertyOrder\": 40,\n      \"title\":
        \"Title\",\n      \"description\": \"A human-readable title.\",\n      \"type\":
        \"string\",\n      \"examples\": [\n        \"{\\n  \\\"title\\\": \\\"My
        Package Title\\\"\\n}\\n\"\n      ]\n    },\n    \"description\": {\n      \"propertyOrder\":
        50,\n      \"format\": \"textarea\",\n      \"title\": \"Description\",\n
        \     \"description\": \"A text description. Markdown is encouraged.\",\n
        \     \"type\": \"string\",\n      \"examples\": [\n        \"{\\n  \\\"description\\\":
        \\\"# My Package description\\\\nAll about my package.\\\"\\n}\\n\"\n      ]\n
        \   },\n    \"homepage\": {\n      \"propertyOrder\": 60,\n      \"title\":
        \"Home Page\",\n      \"description\": \"The home on the web that is related
        to this data package.\",\n      \"type\": \"string\",\n      \"format\": \"uri\",\n
        \     \"examples\": [\n        \"{\\n  \\\"homepage\\\": \\\"http://example.com/\\\"\\n}\\n\"\n
        \     ]\n    },\n    \"created\": {\n      \"propertyOrder\": 70,\n      \"title\":
        \"Created\",\n      \"description\": \"The datetime on which this descriptor
        was created.\",\n      \"context\": \"The datetime must conform to the string
        formats for datetime as described in [RFC3339](https://tools.ietf.org/html/rfc3339#section-5.6)\",\n
        \     \"type\": \"string\",\n      \"format\": \"date-time\",\n      \"examples\":
        [\n        \"{\\n  \\\"created\\\": \\\"1985-04-12T23:20:50.52Z\\\"\\n}\\n\"\n
        \     ]\n    },\n    \"contributors\": {\n      \"propertyOrder\": 80,\n      \"title\":
        \"Contributors\",\n      \"description\": \"The contributors to this descriptor.\",\n
        \     \"type\": \"array\",\n      \"minItems\": 1,\n      \"items\": {\n        \"title\":
        \"Contributor\",\n        \"description\": \"A contributor to this descriptor.\",\n
        \       \"properties\": {\n          \"title\": {\n            \"title\":
        \"Title\",\n            \"description\": \"A human-readable title.\",\n            \"type\":
        \"string\",\n            \"examples\": [\n              \"{\\n  \\\"title\\\":
        \\\"My Package Title\\\"\\n}\\n\"\n            ]\n          },\n          \"path\":
        {\n            \"title\": \"Path\",\n            \"description\": \"A fully
        qualified URL, or a POSIX file path.\",\n            \"type\": \"string\",\n
        \           \"pattern\": \"^(?=^[^./~])(^((?!\\\\.{2}).)*$).*$\",\n            \"examples\":
        [\n              \"{\\n  \\\"path\\\": \\\"file.csv\\\"\\n}\\n\",\n              \"{\\n
        \ \\\"path\\\": \\\"http://example.com/file.csv\\\"\\n}\\n\"\n            ],\n
        \           \"context\": \"Implementations need to negotiate the type of path
        provided, and dereference the data accordingly.\"\n          },\n          \"email\":
        {\n            \"title\": \"Email\",\n            \"description\": \"An email
        address.\",\n            \"type\": \"string\",\n            \"format\": \"email\",\n
        \           \"examples\": [\n              \"{\\n  \\\"email\\\": \\\"example@example.com\\\"\\n}\\n\"\n
        \           ]\n          },\n          \"organization\": {\n            \"title\":
        \"Organization\",\n            \"description\": \"An organizational affiliation
        for this contributor.\",\n            \"type\": \"string\"\n          },\n
        \         \"role\": {\n            \"type\": \"string\",\n            \"default\":
        \"contributor\"\n          }\n        },\n        \"required\": [\n          \"title\"\n
        \       ],\n        \"context\": \"Use of this property does not imply that
        the person was the original creator of, or a contributor to, the data in the
        descriptor, but refers to the composition of the descriptor itself.\"\n      },\n
        \     \"examples\": [\n        \"{\\n  \\\"contributors\\\": [\\n    {\\n
        \     \\\"title\\\": \\\"Joe Bloggs\\\"\\n    }\\n  ]\\n}\\n\",\n        \"{\\n
        \ \\\"contributors\\\": [\\n    {\\n      \\\"title\\\": \\\"Joe Bloggs\\\",\\n
        \     \\\"email\\\": \\\"joe@example.com\\\",\\n      \\\"role\\\": \\\"author\\\"\\n
        \   }\\n  ]\\n}\\n\"\n      ]\n    },\n    \"keywords\": {\n      \"propertyOrder\":
        90,\n      \"title\": \"Keywords\",\n      \"description\": \"A list of keywords
        that describe this package.\",\n      \"type\": \"array\",\n      \"minItems\":
        1,\n      \"items\": {\n        \"type\": \"string\"\n      },\n      \"examples\":
        [\n        \"{\\n  \\\"keywords\\\": [\\n    \\\"data\\\",\\n    \\\"fiscal\\\",\\n
        \   \\\"transparency\\\"\\n  ]\\n}\\n\"\n      ]\n    },\n    \"image\": {\n
        \     \"propertyOrder\": 100,\n      \"title\": \"Image\",\n      \"description\":
        \"A image to represent this package.\",\n      \"type\": \"string\",\n      \"examples\":
        [\n        \"{\\n  \\\"image\\\": \\\"http://example.com/image.jpg\\\"\\n}\\n\",\n
        \       \"{\\n  \\\"image\\\": \\\"relative/to/image.jpg\\\"\\n}\\n\"\n      ]\n
        \   },\n    \"licenses\": {\n      \"propertyOrder\": 110,\n      \"title\":
        \"Licenses\",\n      \"description\": \"The license(s) under which this package
        is published.\",\n      \"type\": \"array\",\n      \"minItems\": 1,\n      \"items\":
        {\n        \"title\": \"License\",\n        \"description\": \"A license for
        this descriptor.\",\n        \"type\": \"object\",\n        \"anyOf\": [\n
        \         {\n            \"required\": [\n              \"name\"\n            ]\n
        \         },\n          {\n            \"required\": [\n              \"path\"\n
        \           ]\n          }\n        ],\n        \"properties\": {\n          \"name\":
        {\n            \"title\": \"Open Definition license identifier\",\n            \"description\":
        \"MUST be an Open Definition license identifier, see http://licenses.opendefinition.org/\",\n
        \      [...]
