interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://zenodo.org/api/records/7078768
  response:
    body:
      string: '{"created": "2022-09-14T10:35:12.297022+00:00", "modified": "2022-09-17T16:58:30.320872+00:00",
        "id": 7078768, "conceptrecid": "7078767", "doi": "10.5281/zenodo.7078768",
        "conceptdoi": "10.5281/zenodo.7078767", "doi_url": "https://doi.org/10.5281/zenodo.7078768",
        "metadata": {"title": "Frictionless Data Test Dataset Without Descriptor",
        "doi": "10.5281/zenodo.7078768", "publication_date": "2022-09-14", "description":
        "<p>This is a test dataset</p>", "access_right": "open", "creators": [{"name":
        "FD Testing", "affiliation": "TDWD"}], "keywords": ["TDWD"], "resource_type":
        {"title": "Dataset", "type": "dataset"}, "license": {"id": "cc-by-4.0"}, "relations":
        {"version": [{"index": 0, "is_last": true, "parent": {"pid_type": "recid",
        "pid_value": "7078767"}}]}, "notes": "TDWD"}, "title": "Frictionless Data
        Test Dataset Without Descriptor", "links": {"self": "https://zenodo.org/api/records/7078768",
        "self_html": "https://zenodo.org/records/7078768", "preview_html": "https://zenodo.org/records/7078768?preview=1",
        "doi": "https://doi.org/10.5281/zenodo.7078768", "self_doi": "https://doi.org/10.5281/zenodo.7078768",
        "self_doi_html": "https://zenodo.org/doi/10.5281/zenodo.7078768", "reserve_doi":
        "https://zenodo.org/api/records/7078768/draft/pids/doi", "parent": "https://zenodo.org/api/records/7078767",
        "parent_html": "https://zenodo.org/records/7078767", "parent_doi": "https://doi.org/10.5281/zenodo.7078767",
        "parent_doi_html": "https://zenodo.org/doi/10.5281/zenodo.7078767", "self_iiif_manifest":
        "https://zenodo.org/api/iiif/record:7078768/manifest", "self_iiif_sequence":
        "https://zenodo.org/api/iiif/record:7078768/sequence/default", "files": "https://zenodo.org/api/records/7078768/files",
        "media_files": "https://zenodo.org/api/records/7078768/media-files", "archive":
        "https://zenodo.org/api/records/7078768/files-archive", "archive_media": "https://zenodo.org/api/records/7078768/media-files-archive",
        "latest": "https://zenodo.org/api/records/7078768/versions/latest", "latest_html":
        "https://zenodo.org/records/7078768/latest", "versions": "https://zenodo.org/api/records/7078768/versions",
        "draft": "https://zenodo.org/api/records/7078768/draft", "access_links": "https://zenodo.org/api/records/7078768/access/links",
        "access_grants": "https://zenodo.org/api/records/7078768/access/grants", "access_users":
        "https://zenodo.org/api/records/7078768/access/users", "access_request": "https://zenodo.org/api/records/7078768/access/request",
        "access": "https://zenodo.org/api/records/7078768/access", "communities":
        "https://zenodo.org/api/records/7078768/communities", "communities-suggestions":
        "https://zenodo.org/api/records/7078768/communities-suggestions", "requests":
        "https://zenodo.org/api/records/7078768/requests"}, "updated": "2022-09-17T16:58:30.320872+00:00",
        "recid": "7078768", "revision": 8, "files": [{"id": "f226b2fb-7db8-4814-819d-1ed6ebe84d79",
        "key": "capitals.csv", "size": 76, "checksum": "md5:154d822b8c2aa259867067f01c0efee5",
        "links": {"self": "https://zenodo.org/api/records/7078768/files/capitals.csv/content"}},
        {"id": "a488a022-4281-40fc-a6bc-62d93d3d26e1", "key": "table.xls", "size":
        6144, "checksum": "md5:3a980d1a559c48978c63c0c1d0d2a8f3", "links": {"self":
        "https://zenodo.org/api/records/7078768/files/table.xls/content"}}], "swh":
        {}, "owners": [{"id": "405552"}], "status": "published", "stats": {"downloads":
        428, "unique_downloads": 84, "views": 185, "unique_views": 177, "version_downloads":
        428, "version_unique_downloads": 84, "version_unique_views": 176, "version_views":
        184}, "state": "done", "submitted": true}'
    headers:
      content-type:
      - application/json
      etag:
      - W/"8"
      link:
      - <https://zenodo.org/api/records/7078768> ; rel="linkset" ; type="application/linkset+json"
      retry-after:
      - '60'
      x-ratelimit-limit:
      - '133'
      x-ratelimit-remaining:
      - '132'
      x-ratelimit-reset:
      - '1748598327'
    status:
      code: 200
      message: OK
version: 1
