interactions:
- request:
    body: '{"name": "test-write", "auto_init": true, "gitignore_template": "Python"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.github.com/user/repos
  response:
    body:
      string: '{"message":"Bad credentials","documentation_url":"https://docs.github.com/rest"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-RateLimit-Limit:
      - '60'
      X-RateLimit-Remaining:
      - '59'
      X-RateLimit-Reset:
      - '1661144622'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '1'
    status:
      code: 401
      message: Unauthorized
version: 1
