interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox.zenodo.org/api//deposit/depositions
  response:
    body:
      string: '{"created": "2025-07-26T12:01:19.714031+00:00", "modified": "2025-07-26T12:01:19.772853+00:00",
        "id": 298285, "conceptrecid": "298284", "metadata": {"access_right": "open",
        "prereserve_doi": {"doi": "10.5281/zenodo.298285", "recid": 298285}}, "title":
        "", "links": {"self": "https://sandbox.zenodo.org/api/deposit/depositions/298285",
        "html": "https://sandbox.zenodo.org/deposit/298285", "badge": "https://sandbox.zenodo.org/badge/doi/.svg",
        "files": "https://sandbox.zenodo.org/api/deposit/depositions/298285/files",
        "bucket": "https://sandbox.zenodo.org/api/files/efe7e771-c6d7-4d80-805d-a3b89e3b1d78",
        "latest_draft": "https://sandbox.zenodo.org/api/deposit/depositions/298285",
        "latest_draft_html": "https://sandbox.zenodo.org/deposit/298285", "publish":
        "https://sandbox.zenodo.org/api/deposit/depositions/298285/actions/publish",
        "edit": "https://sandbox.zenodo.org/api/deposit/depositions/298285/actions/edit",
        "discard": "https://sandbox.zenodo.org/api/deposit/depositions/298285/actions/discard",
        "newversion": "https://sandbox.zenodo.org/api/deposit/depositions/298285/actions/newversion"},
        "record_id": 298285, "owner": 43920, "files": [], "state": "unsubmitted",
        "submitted": false}'
    headers:
      content-type:
      - application/json
      etag:
      - '"4"'
      retry-after:
      - '52'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '975'
      x-ratelimit-reset:
      - '1753531332'
    status:
      code: 201
      message: CREATED
- request:
    body: "{\n  \"metadata\": {\n    \"title\": \"Test Write File - Remote\",\n    \"description\":
      \"Test Write File - Remote\",\n    \"publication_date\": \"2025-07-26\",\n    \"upload_type\":
      \"dataset\",\n    \"access_right\": \"open\",\n    \"creators\": [\n      {\n
      \       \"name\": \"FD Tester\",\n        \"affiliation\": \"FD Testing Write\"\n
      \     }\n    ]\n  }\n}"
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://sandbox.zenodo.org/api//deposit/depositions/298285
  response:
    body:
      string: '{"created": "2025-07-26T12:01:19.714031+00:00", "modified": "2025-07-26T12:01:20.070771+00:00",
        "id": 298285, "conceptrecid": "298284", "metadata": {"title": "Test Write
        File - Remote", "publication_date": "2025-07-26", "description": "Test Write
        File - Remote", "access_right": "open", "creators": [{"name": "FD Tester",
        "affiliation": "FD Testing Write"}], "license": "cc-zero", "imprint_publisher":
        "Zenodo", "upload_type": "dataset", "prereserve_doi": {"doi": "10.5281/zenodo.298285",
        "recid": 298285}}, "title": "Test Write File - Remote", "links": {"self":
        "https://sandbox.zenodo.org/api/deposit/depositions/298285", "html": "https://sandbox.zenodo.org/deposit/298285",
        "badge": "https://sandbox.zenodo.org/badge/doi/.svg", "files": "https://sandbox.zenodo.org/api/deposit/depositions/298285/files",
        "bucket": "https://sandbox.zenodo.org/api/files/efe7e771-c6d7-4d80-805d-a3b89e3b1d78",
        "latest_draft": "https://sandbox.zenodo.org/api/deposit/depositions/298285",
        "latest_draft_html": "https://sandbox.zenodo.org/deposit/298285", "publish":
        "https://sandbox.zenodo.org/api/deposit/depositions/298285/actions/publish",
        "edit": "https://sandbox.zenodo.org/api/deposit/depositions/298285/actions/edit",
        "discard": "https://sandbox.zenodo.org/api/deposit/depositions/298285/actions/discard",
        "newversion": "https://sandbox.zenodo.org/api/deposit/depositions/298285/actions/newversion"},
        "record_id": 298285, "owner": 43920, "files": [], "state": "unsubmitted",
        "submitted": false}'
    headers:
      content-type:
      - application/json
      etag:
      - W/"6"
      retry-after:
      - '51'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '974'
      x-ratelimit-reset:
      - '1753531332'
    status:
      code: 200
      message: OK
- request:
    body: "--c175170305be0ba13e17fd9d7bd0ef1d\r\nContent-Disposition: form-data; name=\"filename\"\r\n\r\n/tmp/pytest-of-coroa/pytest-9/test_zenodo_adapter_write_reso1/tmpylp46kvk/datapackage.json\r\n--c175170305be0ba13e17fd9d7bd0ef1d\r\nContent-Disposition:
      form-data; name=\"file\"; filename=\"datapackage.json\"\r\n\r\n{\n  \"name\":
      \"test-repo-resources-with-http-data-csv\",\n  \"resources\": [\n    {\n      \"name\":
      \"first-http-resource\",\n      \"type\": \"table\",\n      \"path\": \"https://raw.githubusercontent.com/fdtester/test-repo-with-datapackage-yaml/master/data/capitals.csv\",\n
      \     \"scheme\": \"https\",\n      \"format\": \"csv\",\n      \"mediatype\":
      \"text/csv\",\n      \"schema\": {\n        \"fields\": [\n          {\n            \"name\":
      \"id\",\n            \"type\": \"integer\"\n          },\n          {\n            \"name\":
      \"cid\",\n            \"type\": \"string\"\n          },\n          {\n            \"name\":
      \"name\",\n            \"type\": \"string\"\n          }\n        ]\n      }\n
      \   }\n  ]\n}\r\n--c175170305be0ba13e17fd9d7bd0ef1d--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=c175170305be0ba13e17fd9d7bd0ef1d
    method: POST
    uri: https://sandbox.zenodo.org/api//deposit/depositions/298285/files
  response:
    body:
      string: '{"id": "7d35a0fa-9ce6-41db-a2ae-bec59e77fc3e", "filename": "datapackage.json",
        "filesize": 643.0, "checksum": "76b6bb540eb8d1df6af24d7cad1ab613", "links":
        {"self": "https://sandbox.zenodo.org/api/deposit/depositions/298285/files/7d35a0fa-9ce6-41db-a2ae-bec59e77fc3e",
        "download": "https://sandbox.zenodo.org/api/records/298285/draft/files/datapackage.json/content"}}'
    headers:
      content-type:
      - application/json
      retry-after:
      - '51'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '973'
      x-ratelimit-reset:
      - '1753531332'
    status:
      code: 201
      message: CREATED
version: 1
