interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox.zenodo.org/api//deposit/depositions
  response:
    body:
      string: '{"created": "2025-07-26T12:01:16.256001+00:00", "modified": "2025-07-26T12:01:16.331199+00:00",
        "id": 298279, "conceptrecid": "298278", "metadata": {"access_right": "open",
        "prereserve_doi": {"doi": "10.5281/zenodo.298279", "recid": 298279}}, "title":
        "", "links": {"self": "https://sandbox.zenodo.org/api/deposit/depositions/298279",
        "html": "https://sandbox.zenodo.org/deposit/298279", "badge": "https://sandbox.zenodo.org/badge/doi/.svg",
        "files": "https://sandbox.zenodo.org/api/deposit/depositions/298279/files",
        "bucket": "https://sandbox.zenodo.org/api/files/9087a75f-065c-44af-82f5-700a2d337e57",
        "latest_draft": "https://sandbox.zenodo.org/api/deposit/depositions/298279",
        "latest_draft_html": "https://sandbox.zenodo.org/deposit/298279", "publish":
        "https://sandbox.zenodo.org/api/deposit/depositions/298279/actions/publish",
        "edit": "https://sandbox.zenodo.org/api/deposit/depositions/298279/actions/edit",
        "discard": "https://sandbox.zenodo.org/api/deposit/depositions/298279/actions/discard",
        "newversion": "https://sandbox.zenodo.org/api/deposit/depositions/298279/actions/newversion"},
        "record_id": 298279, "owner": 43920, "files": [], "state": "unsubmitted",
        "submitted": false}'
    headers:
      content-type:
      - application/json
      etag:
      - '"4"'
      retry-after:
      - '55'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '986'
      x-ratelimit-reset:
      - '1753531332'
    status:
      code: 201
      message: CREATED
- request:
    body: "{\n  \"metadata\": {\n    \"title\": \"Test Write File - NDJSON\",\n    \"description\":
      \"Test Write File - NDJSON\",\n    \"publication_date\": \"2025-07-26\",\n    \"upload_type\":
      \"dataset\",\n    \"access_right\": \"open\",\n    \"creators\": [\n      {\n
      \       \"name\": \"FD Tester\",\n        \"affiliation\": \"FD Testing Write\"\n
      \     }\n    ]\n  }\n}"
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://sandbox.zenodo.org/api//deposit/depositions/298279
  response:
    body:
      string: '{"created": "2025-07-26T12:01:16.256001+00:00", "modified": "2025-07-26T12:01:16.614869+00:00",
        "id": 298279, "conceptrecid": "298278", "metadata": {"title": "Test Write
        File - NDJSON", "publication_date": "2025-07-26", "description": "Test Write
        File - NDJSON", "access_right": "open", "creators": [{"name": "FD Tester",
        "affiliation": "FD Testing Write"}], "license": "cc-zero", "imprint_publisher":
        "Zenodo", "upload_type": "dataset", "prereserve_doi": {"doi": "10.5281/zenodo.298279",
        "recid": 298279}}, "title": "Test Write File - NDJSON", "links": {"self":
        "https://sandbox.zenodo.org/api/deposit/depositions/298279", "html": "https://sandbox.zenodo.org/deposit/298279",
        "badge": "https://sandbox.zenodo.org/badge/doi/.svg", "files": "https://sandbox.zenodo.org/api/deposit/depositions/298279/files",
        "bucket": "https://sandbox.zenodo.org/api/files/9087a75f-065c-44af-82f5-700a2d337e57",
        "latest_draft": "https://sandbox.zenodo.org/api/deposit/depositions/298279",
        "latest_draft_html": "https://sandbox.zenodo.org/deposit/298279", "publish":
        "https://sandbox.zenodo.org/api/deposit/depositions/298279/actions/publish",
        "edit": "https://sandbox.zenodo.org/api/deposit/depositions/298279/actions/edit",
        "discard": "https://sandbox.zenodo.org/api/deposit/depositions/298279/actions/discard",
        "newversion": "https://sandbox.zenodo.org/api/deposit/depositions/298279/actions/newversion"},
        "record_id": 298279, "owner": 43920, "files": [], "state": "unsubmitted",
        "submitted": false}'
    headers:
      content-type:
      - application/json
      etag:
      - W/"6"
      retry-after:
      - '55'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '985'
      x-ratelimit-reset:
      - '1753531332'
    status:
      code: 200
      message: OK
- request:
    body: "--efa6c85835ffc88c8e409f89bf8530e8\r\nContent-Disposition: form-data; name=\"filename\"\r\n\r\n/tmp/pytest-of-coroa/pytest-9/test_zenodo_adapter_write_ndjs0/tmpazsqh6vu/datapackage.json\r\n--efa6c85835ffc88c8e409f89bf8530e8\r\nContent-Disposition:
      form-data; name=\"file\"; filename=\"datapackage.json\"\r\n\r\n{\n  \"name\":
      \"ndjson-package\",\n  \"resources\": [\n    {\n      \"name\": \"table2\",\n
      \     \"type\": \"table\",\n      \"path\": \"table.ndjson\",\n      \"scheme\":
      \"file\",\n      \"format\": \"ndjson\",\n      \"mediatype\": \"text/ndjson\",\n
      \     \"encoding\": \"utf-8\",\n      \"dialect\": {\n        \"csv\": {\n          \"delimiter\":
      \"\\t\",\n          \"skipInitialSpace\": true\n        },\n        \"json\":
      {\n          \"keyed\": true\n        }\n      },\n      \"schema\": {\n        \"fields\":
      [\n          {\n            \"name\": \"id\",\n            \"type\": \"integer\"\n
      \         },\n          {\n            \"name\": \"name\",\n            \"type\":
      \"string\"\n          }\n        ]\n      }\n    }\n  ]\n}\r\n--efa6c85835ffc88c8e409f89bf8530e8--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=efa6c85835ffc88c8e409f89bf8530e8
    method: POST
    uri: https://sandbox.zenodo.org/api//deposit/depositions/298279/files
  response:
    body:
      string: '{"id": "b412eb99-1444-47b3-b0d7-3b4ddf6a1759", "filename": "datapackage.json",
        "filesize": 642.0, "checksum": "c2a9412ff9d3ec23a3c3cdcb3e006962", "links":
        {"self": "https://sandbox.zenodo.org/api/deposit/depositions/298279/files/b412eb99-1444-47b3-b0d7-3b4ddf6a1759",
        "download": "https://sandbox.zenodo.org/api/records/298279/draft/files/datapackage.json/content"}}'
    headers:
      content-type:
      - application/json
      retry-after:
      - '55'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '984'
      x-ratelimit-reset:
      - '1753531332'
    status:
      code: 201
      message: CREATED
- request:
    body: "--95b26164e309a625ff9830ea79cfeb27\r\nContent-Disposition: form-data; name=\"filename\"\r\n\r\ndata/table.ndjson\r\n--95b26164e309a625ff9830ea79cfeb27\r\nContent-Disposition:
      form-data; name=\"file\"; filename=\"table.ndjson\"\r\n\r\n{\"id\":1,\"name\":\"english\"}\n{\"id\":2,\"name\":\"\u4E2D\u56FD\u4EBA\"}\n\r\n--95b26164e309a625ff9830ea79cfeb27--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=95b26164e309a625ff9830ea79cfeb27
    method: POST
    uri: https://sandbox.zenodo.org/api//deposit/depositions/298279/files
  response:
    body:
      string: '{"id": "d58a2679-02c1-40e6-b1ef-ce87d1a06123", "filename": "table.ndjson",
        "filesize": 54.0, "checksum": "ede814f1c4be172cbee337596131924c", "links":
        {"self": "https://sandbox.zenodo.org/api/deposit/depositions/298279/files/d58a2679-02c1-40e6-b1ef-ce87d1a06123",
        "download": "https://sandbox.zenodo.org/api/records/298279/draft/files/table.ndjson/content"}}'
    headers:
      content-type:
      - application/json
      retry-after:
      - '54'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '983'
      x-ratelimit-reset:
      - '1753531332'
    status:
      code: 201
      message: CREATED
version: 1
