interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://zenodo.org/api/records?custom=%5Bdwc%3Afamily%5D%3A%5BFelidae%5D
  response:
    body:
      string: '{"hits": {"hits": [{"created": "2025-07-26T12:01:27.843109+00:00",
        "modified": "2025-07-26T12:01:28.405152+00:00", "id": 16447442, "conceptrecid":
        "15356972", "doi": "10.5281/zenodo.16447442", "conceptdoi": "10.5281/zenodo.15356972",
        "doi_url": "https://doi.org/10.5281/zenodo.16447442", "metadata": {"title":
        "Dataset on Needs Analysis of ESP Education in IE", "doi": "10.5281/zenodo.16447442",
        "publication_date": "2025-07-25", "description": "<p>The<strong>&nbsp;</strong>education
        of English for Specific Purposes (ESP) based on needs analysis can significantly
        reduce learners'' blindness and time-consuming inefficiencies in their learning.To
        obtain the learners&rsquo; real needs for ESP education, we presents a survey
        dataset. This dataset includes a theoretical framework based on ESP needs
        analysis, a questionnaire covering 4 dimensions and 23 questions in the form
        of a Likert scale and a collection of rating data from 183 respondents&rsquo;
        majoring in industrial engineering (IE). Based on verifying the reliability
        and validity of the questionnaire, as well as the respondents&rsquo; rating
        data concerning the questions, the difficulties and bottlenecks encountered
        by the respondents in the ESP learning are deeply analyze to reveal the deficiencies
        and challenges of ESP education in IE eventually. A key novelty of the dataset
        is that it not only makes ESP education in IE more purposeful and targeted
        but provides a basis and case support for the design of ESP content and strategies
        across different disciplines. To our knowledge, the presented survey dataset
        is currently the only publicly available resource specifically designed to
        investigate ESP education in IE in China.</p>", "access_right": "open", "creators":
        [{"name": "zhang, zhifeng", "affiliation": "Guilin University of Aerospace
        Technology"}], "keywords": ["English for Specific Purposes (ESP)", "Industrial
        Engineering (IE)", "Need analyses", "Questionnaire"], "dates": [{"type": "updated"}],
        "language": "eng", "resource_type": {"title": "Dataset", "type": "dataset"},
        "license": {"id": "cc-by-4.0"}, "relations": {"version": [{"index": 2, "is_last":
        true, "parent": {"pid_type": "recid", "pid_value": "15356972"}}]}}, "title":
        "Dataset on Needs Analysis of ESP Education in IE", "links": {"self": "https://zenodo.org/api/records/16447442",
        "self_html": "https://zenodo.org/records/16447442", "preview_html": "https://zenodo.org/records/16447442?preview=1",
        "doi": "https://doi.org/10.5281/zenodo.16447442", "self_doi": "https://doi.org/10.5281/zenodo.16447442",
        "self_doi_html": "https://zenodo.org/doi/10.5281/zenodo.16447442", "reserve_doi":
        "https://zenodo.org/api/records/16447442/draft/pids/doi", "parent": "https://zenodo.org/api/records/15356972",
        "parent_html": "https://zenodo.org/records/15356972", "parent_doi": "https://doi.org/10.5281/zenodo.15356972",
        "parent_doi_html": "https://zenodo.org/doi/10.5281/zenodo.15356972", "self_iiif_manifest":
        "https://zenodo.org/api/iiif/record:16447442/manifest", "self_iiif_sequence":
        "https://zenodo.org/api/iiif/record:16447442/sequence/default", "files": "https://zenodo.org/api/records/16447442/files",
        "media_files": "https://zenodo.org/api/records/16447442/media-files", "thumbnails":
        {"10": "https://zenodo.org/api/iiif/record:16447442:ESP%20Questionnaire.pdf/full/%5E10,/0/default.jpg",
        "50": "https://zenodo.org/api/iiif/record:16447442:ESP%20Questionnaire.pdf/full/%5E50,/0/default.jpg",
        "100": "https://zenodo.org/api/iiif/record:16447442:ESP%20Questionnaire.pdf/full/%5E100,/0/default.jpg",
        "250": "https://zenodo.org/api/iiif/record:16447442:ESP%20Questionnaire.pdf/full/%5E250,/0/default.jpg",
        "750": "https://zenodo.org/api/iiif/record:16447442:ESP%20Questionnaire.pdf/full/%5E750,/0/default.jpg",
        "1200": "https://zenodo.org/api/iiif/record:16447442:ESP%20Questionnaire.pdf/full/%5E1200,/0/default.jpg"},
        "archive": "https://zenodo.org/api/records/16447442/files-archive", "archive_media":
        "https://zenodo.org/api/records/16447442/media-files-archive", "latest": "https://zenodo.org/api/records/16447442/versions/latest",
        "latest_html": "https://zenodo.org/records/16447442/latest", "versions": "https://zenodo.org/api/records/16447442/versions",
        "draft": "https://zenodo.org/api/records/16447442/draft", "access_links":
        "https://zenodo.org/api/records/16447442/access/links", "access_grants": "https://zenodo.org/api/records/16447442/access/grants",
        "access_users": "https://zenodo.org/api/records/16447442/access/users", "access_request":
        "https://zenodo.org/api/records/16447442/access/request", "access": "https://zenodo.org/api/records/16447442/access",
        "communities": "https://zenodo.org/api/records/16447442/communities", "communities-suggestions":
        "https://zenodo.org/api/records/16447442/communities-suggestions", "requests":
        "https://zenodo.org/api/records/16447442/requests"}, "updated": "2025-07-26T12:01:28.405152+00:00",
        "recid": "16447442", "revision": 4, "files": [{"id": "2df9f0e6-acb5-44f8-b8e8-721b82064c71",
        "key": "ESP theoretical structure.vsdx", "size": 15955, "checksum": "md5:0bf3e717c66b3379aeef0b664083b0f9",
        "links": {"self": "https://zenodo.org/api/records/16447442/files/ESP theoretical
        structure.vsdx/content"}}, {"id": "9648e72b-e0f6-4d11-afea-fa99e4230e58",
        "key": "ESP rating data.xls", "size": 65536, "checksum": "md5:0bfc2cd016fc2e3bad4a030fb42786e2",
        "links": {"self": "https://zenodo.org/api/records/16447442/files/ESP rating
        data.xls/content"}}, {"id": "f1f6ed9b-9622-4b70-9d4d-1aa2a9ecd994", "key":
        "README.md", "size": 1370, "checksum": "md5:dd2a39523b625394314fede025765e29",
        "links": {"self": "https://zenodo.org/api/records/16447442/files/README.md/content"}},
        {"id": "04675f54-ff6c-402f-97fa-37729ca77ac6", "key": "ESP Questionnaire.pdf",
        "size": 157667, "checksum": "md5:dce2bab8487eb8a8957ad7c34484a025", "links":
        {"self": "https://zenodo.org/api/records/16447442/files/ESP Questionnaire.pdf/content"}}],
        "swh": {}, "owners": [{"id": "1313507"}], "status": "published", "stats":
        {"downloads": 105, "unique_downloads": 95, "views": 38, "unique_views": 33,
        "version_downloads": 0, "version_unique_downloads": 0, "version_unique_views":
        0, "version_views": 0}, "state": "done", "submitted": true}, {"created": "2025-07-26T12:00:31.806773+00:00",
        "modified": "2025-07-26T12:00:32.232130+00:00", "id": 16447459, "conceptrecid":
        "16447458", "doi": "10.5281/zenodo.16447459", "conceptdoi": "10.5281/zenodo.16447458",
        "doi_url": "https://doi.org/10.5281/zenodo.16447459", "metadata": {"title":
        "POVERTY AND INEQUALITY IN INDIA \u2013 A REVIEW", "doi": "10.5281/zenodo.16447459",
        "publication_date": "2025-02-28", "description": "<p><em><span>This paper
        aims to give a new set of integrated poverty and inequality estimates for
        India and Indian states for 1987-88, 1993-94 and 1999-2000. The poverty estimates
        are roughly consistent with independent substantiation on per capita expenditure,
        state domestic product and real agricultural wages. They demonstrate that
        poverty decline in the 1990s preceded more or less in line with earlier trends.
        Regional disparities increased in the 1990s, with the southern and western
        regions doing much better than the northern and eastern regions. Economic
        inequality also increased within states, especially within urban areas, and
        between urban and rural areas. We momentarily observe other development indicators,
        relating for instance to health and education. Most indicators have continued
        to improve in the nineties, but social progress has followed very diverse
        patterns, ranging from accelerated progress in some fields to slow down and
        even regression in others. We find no support for sweeping claims that the
        nineties have been a period of &lsquo;unprecedented improvement&rsquo; or
        &lsquo;widespread impoverishment&rsquo;</span></em></p>", "access_right":
        "open", "creators": [{"name": "Prof. Dr. Ram Solankar", "affiliation": null}],
        "language": "eng", "resource_type": {"title": "Journal", "type": "publication",
        "subtype": "journal"}, "journal": {"issue": "I", "pages": "133-137", "title":
        "Aarhat Multidisciplinary International Education Research Journal", "volume":
        "XIV"}, "license": {"id": "cc-by-4.0"}, "relations": {"version": [{"index":
        0, "is_last": true, "parent": {"pid_type": "recid", "pid_value": "16447458"}}]}},
        "title": "POVERTY AND INEQUALITY IN INDIA \u2013 A REVIEW", "links": {"self":
        "https://zenodo.org/api/records/16447459", "self_html": "https://zenodo.org/records/16447459",
        "preview_html": "https://zenodo.org/records/16447459?preview=1", "doi": "https://doi.org/10.5281/zenodo.16447459",
        "self[...]
