interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://zenodo.org/api/records/7096849
  response:
    body:
      string: '{"created": "2022-09-20T12:35:03.564992+00:00", "modified": "2022-09-20T14:26:21.406131+00:00",
        "id": 7096849, "conceptrecid": "7096848", "doi": "10.5281/zenodo.7096849",
        "conceptdoi": "10.5281/zenodo.7096848", "doi_url": "https://doi.org/10.5281/zenodo.7096849",
        "metadata": {"title": "Test File", "doi": "10.5281/zenodo.7096849", "publication_date":
        "2022-09-20", "description": "<p>Test File</p>", "access_right": "open", "creators":
        [{"name": "FD Tester", "affiliation": "FD Testing"}], "resource_type": {"title":
        "Dataset", "type": "dataset"}, "license": {"id": "cc-zero"}, "relations":
        {"version": [{"index": 0, "is_last": true, "parent": {"pid_type": "recid",
        "pid_value": "7096848"}}]}}, "title": "Test File", "links": {"self": "https://zenodo.org/api/records/7096849",
        "self_html": "https://zenodo.org/records/7096849", "preview_html": "https://zenodo.org/records/7096849?preview=1",
        "doi": "https://doi.org/10.5281/zenodo.7096849", "self_doi": "https://doi.org/10.5281/zenodo.7096849",
        "self_doi_html": "https://zenodo.org/doi/10.5281/zenodo.7096849", "reserve_doi":
        "https://zenodo.org/api/records/7096849/draft/pids/doi", "parent": "https://zenodo.org/api/records/7096848",
        "parent_html": "https://zenodo.org/records/7096848", "parent_doi": "https://doi.org/10.5281/zenodo.7096848",
        "parent_doi_html": "https://zenodo.org/doi/10.5281/zenodo.7096848", "self_iiif_manifest":
        "https://zenodo.org/api/iiif/record:7096849/manifest", "self_iiif_sequence":
        "https://zenodo.org/api/iiif/record:7096849/sequence/default", "files": "https://zenodo.org/api/records/7096849/files",
        "media_files": "https://zenodo.org/api/records/7096849/media-files", "archive":
        "https://zenodo.org/api/records/7096849/files-archive", "archive_media": "https://zenodo.org/api/records/7096849/media-files-archive",
        "latest": "https://zenodo.org/api/records/7096849/versions/latest", "latest_html":
        "https://zenodo.org/records/7096849/latest", "versions": "https://zenodo.org/api/records/7096849/versions",
        "draft": "https://zenodo.org/api/records/7096849/draft", "access_links": "https://zenodo.org/api/records/7096849/access/links",
        "access_grants": "https://zenodo.org/api/records/7096849/access/grants", "access_users":
        "https://zenodo.org/api/records/7096849/access/users", "access_request": "https://zenodo.org/api/records/7096849/access/request",
        "access": "https://zenodo.org/api/records/7096849/access", "communities":
        "https://zenodo.org/api/records/7096849/communities", "communities-suggestions":
        "https://zenodo.org/api/records/7096849/communities-suggestions", "requests":
        "https://zenodo.org/api/records/7096849/requests"}, "updated": "2022-09-20T14:26:21.406131+00:00",
        "recid": "7096849", "revision": 2, "files": [{"id": "08af6abd-bca3-48ca-99bf-8c2ff35cabb8",
        "key": "table-reverse.csv", "size": 30, "checksum": "md5:4eff9a682845a2fa4896bbba16851de7",
        "links": {"self": "https://zenodo.org/api/records/7096849/files/table-reverse.csv/content"}},
        {"id": "ba12a8dc-858a-4788-8c4a-61a7590194b1", "key": "datapackage.json",
        "size": 634, "checksum": "md5:3da470a8515f0e074ccc73af2e256969", "links":
        {"self": "https://zenodo.org/api/records/7096849/files/datapackage.json/content"}},
        {"id": "94aee82a-ad6a-4ca6-98bb-f084e61428ac", "key": "table.xls", "size":
        6144, "checksum": "md5:3a980d1a559c48978c63c0c1d0d2a8f3", "links": {"self":
        "https://zenodo.org/api/records/7096849/files/table.xls/content"}}], "swh":
        {}, "owners": [{"id": "405552"}], "status": "published", "stats": {"downloads":
        23, "unique_downloads": 10, "views": 36, "unique_views": 36, "version_downloads":
        23, "version_unique_downloads": 10, "version_unique_views": 36, "version_views":
        36}, "state": "done", "submitted": true}'
    headers:
      content-type:
      - application/json
      etag:
      - W/"2"
      link:
      - <https://zenodo.org/api/records/7096849> ; rel="linkset" ; type="application/linkset+json"
      retry-after:
      - '34'
      x-ratelimit-limit:
      - '133'
      x-ratelimit-remaining:
      - '100'
      x-ratelimit-reset:
      - '1748596267'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://zenodo.org/records/7096849/files/datapackage.json
  response:
    body:
      string: "{\n  \"name\": \"test-tabulator\",\n  \"resources\": [\n    {\n      \"name\":
        \"first-resource\",\n      \"path\": \"table.xls\",\n      \"schema\": {\n
        \       \"fields\": [\n          {\n            \"name\": \"id\",\n            \"type\":
        \"number\"\n          },\n          {\n            \"name\": \"name\",\n            \"type\":
        \"string\"\n          }\n        ]\n      }\n    },\n    {\n      \"name\":
        \"number-two\",\n      \"path\": \"table-reverse.csv\",\n      \"schema\":
        {\n        \"fields\": [\n          {\n            \"name\": \"id\",\n            \"type\":
        \"integer\"\n          },\n          {\n            \"name\": \"name\",\n
        \           \"type\": \"string\"\n          }\n        ]\n      }\n    }\n
        \ ]\n}"
    headers:
      content-disposition:
      - inline
      content-type:
      - text/plain; charset=utf-8
      - text/plain; charset=utf-8
      oc-checksum:
      - MD5:3da470a8515f0e074ccc73af2e256969
      retry-after:
      - '34'
      x-ratelimit-limit:
      - '133'
      x-ratelimit-remaining:
      - '80'
      x-ratelimit-reset:
      - '1748596267'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://zenodo.org/records/7096849/files/table-reverse.csv
  response:
    body:
      string: "id,name\n1,\u4E2D\u56FD\u4EBA\n2,english\n"
    headers:
      content-disposition:
      - inline
      content-type:
      - text/plain; charset=utf-8
      - text/plain; charset=utf-8
      oc-checksum:
      - MD5:4eff9a682845a2fa4896bbba16851de7
      retry-after:
      - '33'
      x-ratelimit-limit:
      - '133'
      x-ratelimit-remaining:
      - '79'
      x-ratelimit-reset:
      - '1748596267'
    status:
      code: 200
      message: OK
[...]
