interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox.zenodo.org/api//deposit/depositions
  response:
    body:
      string: '{"created": "2025-07-26T12:01:23.606778+00:00", "modified": "2025-07-26T12:01:23.672995+00:00",
        "id": 298291, "conceptrecid": "298290", "metadata": {"access_right": "open",
        "prereserve_doi": {"doi": "10.5281/zenodo.298291", "recid": 298291}}, "title":
        "", "links": {"self": "https://sandbox.zenodo.org/api/deposit/depositions/298291",
        "html": "https://sandbox.zenodo.org/deposit/298291", "badge": "https://sandbox.zenodo.org/badge/doi/.svg",
        "files": "https://sandbox.zenodo.org/api/deposit/depositions/298291/files",
        "bucket": "https://sandbox.zenodo.org/api/files/1f9ae663-e5cf-4bf9-aa05-5f8a8158c683",
        "latest_draft": "https://sandbox.zenodo.org/api/deposit/depositions/298291",
        "latest_draft_html": "https://sandbox.zenodo.org/deposit/298291", "publish":
        "https://sandbox.zenodo.org/api/deposit/depositions/298291/actions/publish",
        "edit": "https://sandbox.zenodo.org/api/deposit/depositions/298291/actions/edit",
        "discard": "https://sandbox.zenodo.org/api/deposit/depositions/298291/actions/discard",
        "newversion": "https://sandbox.zenodo.org/api/deposit/depositions/298291/actions/newversion"},
        "record_id": 298291, "owner": 43920, "files": [], "state": "unsubmitted",
        "submitted": false}'
    headers:
      content-type:
      - application/json
      etag:
      - '"4"'
      retry-after:
      - '48'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '962'
      x-ratelimit-reset:
      - '1753531332'
    status:
      code: 201
      message: CREATED
- request:
    body: "{\n  \"metadata\": {\n    \"title\": \"Test Package Partial Meta\",\n    \"description\":
      \"This is a test package to test zenodo write function\",\n    \"publication_date\":
      \"2025-07-26\",\n    \"license\": \"CC-BY-4.0\",\n    \"upload_type\": \"dataset\",\n
      \   \"access_right\": \"open\",\n    \"creators\": [\n      {\n        \"name\":
      \"Test FD\",\n        \"affiliation\": \"OKFN\"\n      }\n    ]\n  }\n}"
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://sandbox.zenodo.org/api//deposit/depositions/298291
  response:
    body:
      string: '{"created": "2025-07-26T12:01:23.606778+00:00", "modified": "2025-07-26T12:01:23.939290+00:00",
        "id": 298291, "conceptrecid": "298290", "metadata": {"title": "Test Package
        Partial Meta", "publication_date": "2025-07-26", "description": "This is a
        test package to test zenodo write function", "access_right": "open", "creators":
        [{"name": "Test FD", "affiliation": "OKFN"}], "license": "cc-by-4.0", "imprint_publisher":
        "Zenodo", "upload_type": "dataset", "prereserve_doi": {"doi": "10.5281/zenodo.298291",
        "recid": 298291}}, "title": "Test Package Partial Meta", "links": {"self":
        "https://sandbox.zenodo.org/api/deposit/depositions/298291", "html": "https://sandbox.zenodo.org/deposit/298291",
        "badge": "https://sandbox.zenodo.org/badge/doi/.svg", "files": "https://sandbox.zenodo.org/api/deposit/depositions/298291/files",
        "bucket": "https://sandbox.zenodo.org/api/files/1f9ae663-e5cf-4bf9-aa05-5f8a8158c683",
        "latest_draft": "https://sandbox.zenodo.org/api/deposit/depositions/298291",
        "latest_draft_html": "https://sandbox.zenodo.org/deposit/298291", "publish":
        "https://sandbox.zenodo.org/api/deposit/depositions/298291/actions/publish",
        "edit": "https://sandbox.zenodo.org/api/deposit/depositions/298291/actions/edit",
        "discard": "https://sandbox.zenodo.org/api/deposit/depositions/298291/actions/discard",
        "newversion": "https://sandbox.zenodo.org/api/deposit/depositions/298291/actions/newversion"},
        "record_id": 298291, "owner": 43920, "files": [], "state": "unsubmitted",
        "submitted": false}'
    headers:
      content-type:
      - application/json
      etag:
      - W/"6"
      retry-after:
      - '47'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '961'
      x-ratelimit-reset:
      - '1753531332'
    status:
      code: 200
      message: OK
- request:
    body: "--13d697f8fdae92402479867b8e9a805e\r\nContent-Disposition: form-data; name=\"filename\"\r\n\r\n/tmp/pytest-of-coroa/pytest-9/test_zenodo_adapter_write_reso5/tmp8205w563/datapackage.json\r\n--13d697f8fdae92402479867b8e9a805e\r\nContent-Disposition:
      form-data; name=\"file\"; filename=\"datapackage.json\"\r\n\r\n{\n  \"name\":
      \"testing\",\n  \"title\": \"Test Package Partial Meta\",\n  \"description\":
      \"This is a test package to test zenodo write function\",\n  \"contributors\":
      [\n    {\n      \"title\": \"Test FD\",\n      \"role\": \"author\",\n      \"organization\":
      \"OKFN\"\n    }\n  ],\n  \"created\": \"1985-04-12T23:20:50.52Z\",\n  \"resources\":
      [\n    {\n      \"name\": \"data\",\n      \"type\": \"table\",\n      \"path\":
      \"data.csv\",\n      \"scheme\": \"file\",\n      \"format\": \"csv\",\n      \"mediatype\":
      \"text/csv\",\n      \"schema\": {\n        \"fields\": [\n          {\n            \"name\":
      \"id\",\n            \"type\": \"string\",\n            \"constraints\": {\n
      \             \"required\": true\n            }\n          },\n          {\n
      \           \"name\": \"name\",\n            \"type\": \"string\"\n          },\n
      \         {\n            \"name\": \"description\",\n            \"type\": \"string\"\n
      \         },\n          {\n            \"name\": \"amount\",\n            \"type\":
      \"number\"\n          }\n        ],\n        \"primaryKey\": [\n          \"id\"\n
      \       ]\n      }\n    },\n    {\n      \"name\": \"data2\",\n      \"type\":
      \"table\",\n      \"path\": \"data2.csv\",\n      \"scheme\": \"file\",\n      \"format\":
      \"csv\",\n      \"mediatype\": \"text/csv\",\n      \"schema\": {\n        \"fields\":
      [\n          {\n            \"name\": \"parent\",\n            \"type\": \"string\"\n
      \         },\n          {\n            \"name\": \"comment\",\n            \"type\":
      \"string\"\n          }\n        ],\n        \"foreignKeys\": [\n          {\n
      \           \"fields\": [\n              \"parent\"\n            ],\n            \"reference\":
      {\n              \"resource\": \"data\",\n              \"fields\": [\n                \"id\"\n
      \             ]\n            }\n          }\n        ]\n      }\n    }\n  ]\n}\r\n--13d697f8fdae92402479867b8e9a805e--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=13d697f8fdae92402479867b8e9a805e
    method: POST
    uri: https://sandbox.zenodo.org/api//deposit/depositions/298291/files
  response:
    body:
      string: '{"id": "9ca65b1e-2b42-437f-8597-a11afa1fe219", "filename": "datapackage.json",
        "filesize": 1638.0, "checksum": "4f9cc82036018788319508405c2a19b3", "links":
        {"self": "https://sandbox.zenodo.org/api/deposit/depositions/298291/files/9ca65b1e-2b42-437f-8597-a11afa1fe219",
        "download": "https://sandbox.zenodo.org/api/records/298291/draft/files/datapackage.json/content"}}'
    headers:
      content-type:
      - application/json
      retry-after:
      - '47'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '960'
      x-ratelimit-reset:
      - '1753531332'
    status:
      code: 201
      message: CREATED
[...]
- request:
    body: "--a83b435d962e841173c831f9ed47cca7\r\nContent-Disposition: form-data; name=\"filename\"\r\n\r\ndata/package/data2.csv\r\n--a83b435d962e841173c831f9ed47cca7\r\nContent-Disposition:
      form-data; name=\"file\"; filename=\"data2.csv\"\r\n\r\nparent,comment\nA3001,comment1\nA3001,comment2\nA5032,comment3\n\r\n--a83b435d962e841173c831f9ed47cca7--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=a83b435d962e841173c831f9ed47cca7
    method: POST
    uri: https://sandbox.zenodo.org/api//deposit/depositions/298291/files
  response:
    body:
      string: '{"id": "66547934-0099-42be-b3ab-41e0fa58a006", "filename": "data2.csv",
        "filesize": 60.0, "checksum": "cb4a683d8eecb72c9ac9beea91fd592e", "links":
        {"self": "https://sandbox.zenodo.org/api/deposit/depositions/298291/files/66547934-0099-42be-b3ab-41e0fa58a006",
        "download": "https://sandbox.zenodo.org/api/records/298291/draft/files/data2.csv/content"}}'
    headers:
      content-type:
      - application/json
      retry-after:
      - '46'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '958'
      x-ratelimit-reset:
      - '1753531332'
    status:
      code: 201
      message: CREATED
version: 1
