interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://zenodo.org/api/records/7078760
  response:
    body:
      string: '{"created": "2022-09-14T10:32:21.616360+00:00", "modified": "2022-09-21T04:51:26.630760+00:00",
        "id": 7078760, "conceptrecid": "7078759", "doi": "10.5281/zenodo.7078760",
        "conceptdoi": "10.5281/zenodo.7078759", "doi_url": "https://doi.org/10.5281/zenodo.7078760",
        "metadata": {"title": "Frictionless Data Test Dataset", "doi": "10.5281/zenodo.7078760",
        "publication_date": "2022-09-14", "description": "<p>This is a test dataset</p>",
        "access_right": "open", "creators": [{"name": "FD Tester Creator", "affiliation":
        "FD Testing"}], "keywords": ["FDTD", "TDBASIC"], "resource_type": {"title":
        "Dataset", "type": "dataset"}, "license": {"id": "cc-by-4.0"}, "relations":
        {"version": [{"index": 0, "is_last": true, "parent": {"pid_type": "recid",
        "pid_value": "7078759"}}]}, "notes": "TDBASIC"}, "title": "Frictionless Data
        Test Dataset", "links": {"self": "https://zenodo.org/api/records/7078760",
        "self_html": "https://zenodo.org/records/7078760", "preview_html": "https://zenodo.org/records/7078760?preview=1",
        "doi": "https://doi.org/10.5281/zenodo.7078760", "self_doi": "https://doi.org/10.5281/zenodo.7078760",
        "self_doi_html": "https://zenodo.org/doi/10.5281/zenodo.7078760", "reserve_doi":
        "https://zenodo.org/api/records/7078760/draft/pids/doi", "parent": "https://zenodo.org/api/records/7078759",
        "parent_html": "https://zenodo.org/records/7078759", "parent_doi": "https://doi.org/10.5281/zenodo.7078759",
        "parent_doi_html": "https://zenodo.org/doi/10.5281/zenodo.7078759", "self_iiif_manifest":
        "https://zenodo.org/api/iiif/record:7078760/manifest", "self_iiif_sequence":
        "https://zenodo.org/api/iiif/record:7078760/sequence/default", "files": "https://zenodo.org/api/records/7078760/files",
        "media_files": "https://zenodo.org/api/records/7078760/media-files", "archive":
        "https://zenodo.org/api/records/7078760/files-archive", "archive_media": "https://zenodo.org/api/records/7078760/media-files-archive",
        "latest": "https://zenodo.org/api/records/7078760/versions/latest", "latest_html":
        "https://zenodo.org/records/7078760/latest", "versions": "https://zenodo.org/api/records/7078760/versions",
        "draft": "https://zenodo.org/api/records/7078760/draft", "access_links": "https://zenodo.org/api/records/7078760/access/links",
        "access_grants": "https://zenodo.org/api/records/7078760/access/grants", "access_users":
        "https://zenodo.org/api/records/7078760/access/users", "access_request": "https://zenodo.org/api/records/7078760/access/request",
        "access": "https://zenodo.org/api/records/7078760/access", "communities":
        "https://zenodo.org/api/records/7078760/communities", "communities-suggestions":
        "https://zenodo.org/api/records/7078760/communities-suggestions", "requests":
        "https://zenodo.org/api/records/7078760/requests"}, "updated": "2022-09-21T04:51:26.630760+00:00",
        "recid": "7078760", "revision": 10, "files": [{"id": "b21b8afd-a489-47e4-b33f-4a95008e935d",
        "key": "data2.csv", "size": 60, "checksum": "md5:cb4a683d8eecb72c9ac9beea91fd592e",
        "links": {"self": "https://zenodo.org/api/records/7078760/files/data2.csv/content"}},
        {"id": "09544990-e217-49ff-84d9-87b3382760be", "key": "datapackage.json",
        "size": 1594, "checksum": "md5:127f3943c9a2fa7fe892c7159b6fbded", "links":
        {"self": "https://zenodo.org/api/records/7078760/files/datapackage.json/content"}},
        {"id": "f70c5ea8-5408-4463-b4f0-1e178fab80c0", "key": "data.csv", "size":
        114, "checksum": "md5:c028f525f314c49ea48ed09e82292ed2", "links": {"self":
        "https://zenodo.org/api/records/7078760/files/data.csv/content"}}], "swh":
        {}, "owners": [{"id": "405552"}], "status": "published", "stats": {"downloads":
        616, "unique_downloads": 114, "views": 104, "unique_views": 87, "version_downloads":
        616, "version_unique_downloads": 114, "version_unique_views": 86, "version_views":
        103}, "state": "done", "submitted": true}'
    headers:
      content-type:
      - application/json
      etag:
      - W/"10"
      link:
      - <https://zenodo.org/api/records/7078760> ; rel="linkset" ; type="application/linkset+json"
      retry-after:
      - '50'
      x-ratelimit-limit:
      - '133'
      x-ratelimit-remaining:
      - '119'
      x-ratelimit-reset:
      - '1748596267'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://zenodo.org/records/7078760/files/datapackage.json
  response:
    body:
      string: "{\n    \"name\": \"testing\",\n    \"resources\": [\n        {\n            \"name\":
        \"data\",\n            \"path\": \"data.csv\",\n            \"schema\": {\n
        \               \"fields\": [\n                    {\n                        \"name\":
        \"id\",\n                        \"type\": \"string\",\n                        \"constraints\":
        {\n                            \"required\": true\n                        }\n
        \                   },\n                    {\n                        \"name\":
        \"name\",\n                        \"type\": \"string\"\n                    },\n
        \                   {\n                        \"name\": \"description\",\n
        \                       \"type\": \"string\"\n                    },\n                    {\n
        \                       \"name\": \"amount\",\n                        \"type\":
        \"number\"\n                    }\n                ],\n                \"primaryKey\":
        \"id\"\n            }\n        },\n        {\n            \"name\": \"data2\",\n
        \           \"path\": \"data2.csv\",\n            \"schema\": {\n                \"fields\":
        [\n                    {\n                        \"type\": \"string\",\n
        \                       \"name\": \"parent\"\n                    },\n                    {\n
        \                       \"type\": \"string\",\n                        \"name\":
        \"comment\"\n                    }\n                ],\n                \"foreignKeys\":
        [\n                    {\n                        \"fields\": \"parent\",\n
        \                       \"reference\": {\n                            \"resource\":
        \"data\",\n                            \"fields\": \"id\"\n                        }\n
        \                   }\n                ]\n            }\n        }\n    ]\n}\n"
    headers:
      content-disposition:
      - inline
      content-type:
      - text/plain; charset=utf-8
      - text/plain; charset=utf-8
      oc-checksum:
      - MD5:127f3943c9a2fa7fe892c7159b6fbded
      retry-after:
      - '50'
      x-ratelimit-limit:
      - '133'
      x-ratelimit-remaining:
      - '105'
      x-ratelimit-reset:
      - '1748596267'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://zenodo.org/records/7078760/files/data.csv
  response:
    body:
      string: 'id,name,description,amount

        A3001,Taxes,Taxes we collect,10000.5

        A5032,Parking Fees,Parking fees we collect,2000.5

        '
    headers:
      content-disposition:
      - inline
      content-type:
      - text/plain; charset=utf-8
      - text/plain; charset=utf-8
      oc-checksum:
      - MD5:c028f525f314c49ea48ed09e82292ed2
      retry-after:
      - '50'
      x-ratelimit-limit:
      - '133'
      x-ratelimit-remaining:
      - '104'
      x-ratelimit-reset:
      - '1748596267'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://zenodo.org/records/7078760/files/data2.csv
  response:
    body:
      string: 'parent,comment

        A3001,comment1

        A3001,comment2

        A5032,comment3

        '
    headers:
      content-disposition:
      - inline
      content-type:
      - text/plain; charset=utf-8
      - text/plain; charset=utf-8
      oc-checksum:
      - MD5:cb4a683d8eecb72c9ac9beea91fd592e
      retry-after:
      - '49'
      x-ratelimit-limit:
      - '133'
      x-ratelimit-remaining:
      - '102'
      x-ratelimit-reset:
      - '1748596267'
    status:
      code: 200
      message: OK
[...]
