interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://zenodo.org/api//deposit/depositions
  response:
    body:
      string: '{"created": "2025-05-30T09:10:34.830551+00:00", "modified": "2025-05-30T09:10:34.896889+00:00",
        "id": 15552259, "conceptrecid": "15552258", "metadata": {"access_right": "open",
        "prereserve_doi": {"doi": "10.5281/zenodo.15552259", "recid": 15552259}},
        "title": "", "links": {"self": "https://zenodo.org/api/deposit/depositions/15552259",
        "html": "https://zenodo.org/deposit/15552259", "badge": "https://zenodo.org/badge/doi/.svg",
        "files": "https://zenodo.org/api/deposit/depositions/15552259/files", "bucket":
        "https://zenodo.org/api/files/10a03f4d-a715-4bac-8e2d-4adc5531f9c9", "latest_draft":
        "https://zenodo.org/api/deposit/depositions/15552259", "latest_draft_html":
        "https://zenodo.org/deposit/15552259", "publish": "https://zenodo.org/api/deposit/depositions/15552259/actions/publish",
        "edit": "https://zenodo.org/api/deposit/depositions/15552259/actions/edit",
        "discard": "https://zenodo.org/api/deposit/depositions/15552259/actions/discard",
        "newversion": "https://zenodo.org/api/deposit/depositions/15552259/actions/newversion"},
        "record_id": 15552259, "owner": 31725, "files": [], "state": "unsubmitted",
        "submitted": false}'
    headers:
      content-type:
      - application/json
      etag:
      - '"4"'
      retry-after:
      - '32'
      x-ratelimit-limit:
      - '133'
      x-ratelimit-remaining:
      - '97'
      x-ratelimit-reset:
      - '1748596267'
    status:
      code: 201
      message: CREATED
- request:
    body: "{\n  \"metadata\": {\n    \"title\": \"Test Write File - Remote\",\n    \"description\":
      \"Test Write File - Remote\",\n    \"publication_date\": \"2025-05-30\",\n    \"upload_type\":
      \"dataset\",\n    \"access_right\": \"open\",\n    \"creators\": [\n      {\n
      \       \"name\": \"FD Tester\",\n        \"affiliation\": \"FD Testing Write\"\n
      \     }\n    ]\n  }\n}"
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://zenodo.org/api//deposit/depositions/15552259
  response:
    body:
      string: '{"created": "2025-05-30T09:10:34.830551+00:00", "modified": "2025-05-30T09:10:35.217539+00:00",
        "id": 15552259, "conceptrecid": "15552258", "metadata": {"title": "Test Write
        File - Remote", "publication_date": "2025-05-30", "description": "Test Write
        File - Remote", "access_right": "open", "creators": [{"name": "FD Tester",
        "affiliation": "FD Testing Write"}], "license": "cc-zero", "imprint_publisher":
        "Zenodo", "upload_type": "dataset", "prereserve_doi": {"doi": "10.5281/zenodo.15552259",
        "recid": 15552259}}, "title": "Test Write File - Remote", "links": {"self":
        "https://zenodo.org/api/deposit/depositions/15552259", "html": "https://zenodo.org/deposit/15552259",
        "badge": "https://zenodo.org/badge/doi/.svg", "files": "https://zenodo.org/api/deposit/depositions/15552259/files",
        "bucket": "https://zenodo.org/api/files/10a03f4d-a715-4bac-8e2d-4adc5531f9c9",
        "latest_draft": "https://zenodo.org/api/deposit/depositions/15552259", "latest_draft_html":
        "https://zenodo.org/deposit/15552259", "publish": "https://zenodo.org/api/deposit/depositions/15552259/actions/publish",
        "edit": "https://zenodo.org/api/deposit/depositions/15552259/actions/edit",
        "discard": "https://zenodo.org/api/deposit/depositions/15552259/actions/discard",
        "newversion": "https://zenodo.org/api/deposit/depositions/15552259/actions/newversion"},
        "record_id": 15552259, "owner": 31725, "files": [], "state": "unsubmitted",
        "submitted": false}'
    headers:
      content-type:
      - application/json
      etag:
      - W/"6"
      retry-after:
      - '49'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '986'
      x-ratelimit-reset:
      - '1748596285'
    status:
      code: 200
      message: OK
- request:
    body: "--baeac7f10275b7d6585167526186fa27\r\nContent-Disposition: form-data; name=\"filename\"\r\n\r\n/tmp/tmpecop3y47/datapackage.json\r\n--baeac7f10275b7d6585167526186fa27\r\nContent-Disposition:
      form-data; name=\"file\"; filename=\"datapackage.json\"\r\n\r\n{\n  \"name\":
      \"test-repo-resources-with-http-data-csv\",\n  \"resources\": [\n    {\n      \"name\":
      \"first-http-resource\",\n      \"type\": \"table\",\n      \"path\": \"https://raw.githubusercontent.com/fdtester/test-repo-with-datapackage-yaml/master/data/capitals.csv\",\n
      \     \"scheme\": \"https\",\n      \"format\": \"csv\",\n      \"mediatype\":
      \"text/csv\",\n      \"schema\": {\n        \"fields\": [\n          {\n            \"name\":
      \"id\",\n            \"type\": \"integer\"\n          },\n          {\n            \"name\":
      \"cid\",\n            \"type\": \"string\"\n          },\n          {\n            \"name\":
      \"name\",\n            \"type\": \"string\"\n          }\n        ]\n      }\n
      \   }\n  ]\n}\r\n--baeac7f10275b7d6585167526186fa27--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=baeac7f10275b7d6585167526186fa27
    method: POST
    uri: https://zenodo.org/api//deposit/depositions/15552259/files
  response:
    body:
      string: '{"id": "a8c68e3d-795c-4d86-a079-20cfdc6e5fb7", "filename": "datapackage.json",
        "filesize": 643.0, "checksum": "76b6bb540eb8d1df6af24d7cad1ab613", "links":
        {"self": "https://zenodo.org/api/deposit/depositions/15552259/files/a8c68e3d-795c-4d86-a079-20cfdc6e5fb7",
        "download": "https://zenodo.org/api/records/15552259/draft/files/datapackage.json/content"}}'
    headers:
      content-type:
      - application/json
      retry-after:
      - '31'
      x-ratelimit-limit:
      - '133'
      x-ratelimit-remaining:
      - '96'
      x-ratelimit-reset:
      - '1748596267'
    status:
      code: 201
      message: CREATED
version: 1
