interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox.zenodo.org/api//deposit/depositions
  response:
    body:
      string: '{"created": "2025-07-26T12:01:14.963780+00:00", "modified": "2025-07-26T12:01:15.036777+00:00",
        "id": 298277, "conceptrecid": "298276", "metadata": {"access_right": "open",
        "prereserve_doi": {"doi": "10.5281/zenodo.298277", "recid": 298277}}, "title":
        "", "links": {"self": "https://sandbox.zenodo.org/api/deposit/depositions/298277",
        "html": "https://sandbox.zenodo.org/deposit/298277", "badge": "https://sandbox.zenodo.org/badge/doi/.svg",
        "files": "https://sandbox.zenodo.org/api/deposit/depositions/298277/files",
        "bucket": "https://sandbox.zenodo.org/api/files/089be318-d320-40ac-b32c-6eff245a9ada",
        "latest_draft": "https://sandbox.zenodo.org/api/deposit/depositions/298277",
        "latest_draft_html": "https://sandbox.zenodo.org/deposit/298277", "publish":
        "https://sandbox.zenodo.org/api/deposit/depositions/298277/actions/publish",
        "edit": "https://sandbox.zenodo.org/api/deposit/depositions/298277/actions/edit",
        "discard": "https://sandbox.zenodo.org/api/deposit/depositions/298277/actions/discard",
        "newversion": "https://sandbox.zenodo.org/api/deposit/depositions/298277/actions/newversion"},
        "record_id": 298277, "owner": 43920, "files": [], "state": "unsubmitted",
        "submitted": false}'
    headers:
      content-type:
      - application/json
      etag:
      - '"4"'
      retry-after:
      - '56'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '990'
      x-ratelimit-reset:
      - '1753531332'
    status:
      code: 201
      message: CREATED
- request:
    body: "{\n  \"metadata\": {\n    \"title\": \"Test Write File - JSONL\",\n    \"description\":
      \"Test Write File - JSONL\",\n    \"publication_date\": \"2025-07-26\",\n    \"upload_type\":
      \"dataset\",\n    \"access_right\": \"open\",\n    \"creators\": [\n      {\n
      \       \"name\": \"FD Tester\",\n        \"affiliation\": \"FD Testing Write\"\n
      \     }\n    ]\n  }\n}"
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://sandbox.zenodo.org/api//deposit/depositions/298277
  response:
    body:
      string: '{"created": "2025-07-26T12:01:14.963780+00:00", "modified": "2025-07-26T12:01:15.420539+00:00",
        "id": 298277, "conceptrecid": "298276", "metadata": {"title": "Test Write
        File - JSONL", "publication_date": "2025-07-26", "description": "Test Write
        File - JSONL", "access_right": "open", "creators": [{"name": "FD Tester",
        "affiliation": "FD Testing Write"}], "license": "cc-zero", "imprint_publisher":
        "Zenodo", "upload_type": "dataset", "prereserve_doi": {"doi": "10.5281/zenodo.298277",
        "recid": 298277}}, "title": "Test Write File - JSONL", "links": {"self": "https://sandbox.zenodo.org/api/deposit/depositions/298277",
        "html": "https://sandbox.zenodo.org/deposit/298277", "badge": "https://sandbox.zenodo.org/badge/doi/.svg",
        "files": "https://sandbox.zenodo.org/api/deposit/depositions/298277/files",
        "bucket": "https://sandbox.zenodo.org/api/files/089be318-d320-40ac-b32c-6eff245a9ada",
        "latest_draft": "https://sandbox.zenodo.org/api/deposit/depositions/298277",
        "latest_draft_html": "https://sandbox.zenodo.org/deposit/298277", "publish":
        "https://sandbox.zenodo.org/api/deposit/depositions/298277/actions/publish",
        "edit": "https://sandbox.zenodo.org/api/deposit/depositions/298277/actions/edit",
        "discard": "https://sandbox.zenodo.org/api/deposit/depositions/298277/actions/discard",
        "newversion": "https://sandbox.zenodo.org/api/deposit/depositions/298277/actions/newversion"},
        "record_id": 298277, "owner": 43920, "files": [], "state": "unsubmitted",
        "submitted": false}'
    headers:
      content-type:
      - application/json
      etag:
      - W/"6"
      retry-after:
      - '56'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '989'
      x-ratelimit-reset:
      - '1753531332'
    status:
      code: 200
      message: OK
- request:
    body: "--a76d1daa8693d7c9fe03f19f4899b621\r\nContent-Disposition: form-data; name=\"filename\"\r\n\r\n/tmp/pytest-of-coroa/pytest-9/test_zenodo_adapter_write_json0/tmpp54j82sv/datapackage.json\r\n--a76d1daa8693d7c9fe03f19f4899b621\r\nContent-Disposition:
      form-data; name=\"file\"; filename=\"datapackage.json\"\r\n\r\n{\n  \"name\":
      \"jsonl-package\",\n  \"resources\": [\n    {\n      \"name\": \"table\",\n
      \     \"type\": \"table\",\n      \"path\": \"table.jsonl\",\n      \"scheme\":
      \"file\",\n      \"format\": \"jsonl\",\n      \"mediatype\": \"text/jsonl\",\n
      \     \"encoding\": \"utf-8\",\n      \"dialect\": {\n        \"csv\": {\n          \"delimiter\":
      \"\\t\",\n          \"skipInitialSpace\": true\n        },\n        \"json\":
      {\n          \"keyed\": true\n        }\n      },\n      \"schema\": {\n        \"fields\":
      [\n          {\n            \"name\": \"id\",\n            \"type\": \"integer\"\n
      \         },\n          {\n            \"name\": \"name\",\n            \"type\":
      \"string\"\n          }\n        ]\n      }\n    }\n  ]\n}\r\n--a76d1daa8693d7c9fe03f19f4899b621--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=a76d1daa8693d7c9fe03f19f4899b621
    method: POST
    uri: https://sandbox.zenodo.org/api//deposit/depositions/298277/files
  response:
    body:
      string: '{"id": "8b37be1b-5350-4cd9-b4f9-f10e3088a6c6", "filename": "datapackage.json",
        "filesize": 637.0, "checksum": "8e4e61638360b38296411c3cde22c09b", "links":
        {"self": "https://sandbox.zenodo.org/api/deposit/depositions/298277/files/8b37be1b-5350-4cd9-b4f9-f10e3088a6c6",
        "download": "https://sandbox.zenodo.org/api/records/298277/draft/files/datapackage.json/content"}}'
    headers:
      content-type:
      - application/json
      retry-after:
      - '56'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '988'
      x-ratelimit-reset:
      - '1753531332'
    status:
      code: 201
      message: CREATED
- request:
    body: "--314df9d6ff985000c5eca2467a243ec9\r\nContent-Disposition: form-data; name=\"filename\"\r\n\r\ndata/table.jsonl\r\n--314df9d6ff985000c5eca2467a243ec9\r\nContent-Disposition:
      form-data; name=\"file\"; filename=\"table.jsonl\"\r\n\r\n{\"id\":1,\"name\":\"english\"}\n{\"id\":2,\"name\":\"\u4E2D\u56FD\u4EBA\"}\n\r\n--314df9d6ff985000c5eca2467a243ec9--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=314df9d6ff985000c5eca2467a243ec9
    method: POST
    uri: https://sandbox.zenodo.org/api//deposit/depositions/298277/files
  response:
    body:
      string: '{"id": "00fb6adb-ccc7-4622-bd8b-da35bb596472", "filename": "table.jsonl",
        "filesize": 54.0, "checksum": "ede814f1c4be172cbee337596131924c", "links":
        {"self": "https://sandbox.zenodo.org/api/deposit/depositions/298277/files/00fb6adb-ccc7-4622-bd8b-da35bb596472",
        "download": "https://sandbox.zenodo.org/api/records/298277/draft/files/table.jsonl/content"}}'
    headers:
      content-type:
      - application/json
      retry-after:
      - '55'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '987'
      x-ratelimit-reset:
      - '1753531332'
    status:
      code: 201
      message: CREATED
version: 1
