interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox.zenodo.org/api//deposit/depositions
  response:
    body:
      string: '{"created": "2025-07-26T12:01:26.604967+00:00", "modified": "2025-07-26T12:01:26.659759+00:00",
        "id": 298295, "conceptrecid": "298294", "metadata": {"access_right": "open",
        "prereserve_doi": {"doi": "10.5281/zenodo.298295", "recid": 298295}}, "title":
        "", "links": {"self": "https://sandbox.zenodo.org/api/deposit/depositions/298295",
        "html": "https://sandbox.zenodo.org/deposit/298295", "badge": "https://sandbox.zenodo.org/badge/doi/.svg",
        "files": "https://sandbox.zenodo.org/api/deposit/depositions/298295/files",
        "bucket": "https://sandbox.zenodo.org/api/files/f0e25dc6-faec-4086-83a1-257650a72542",
        "latest_draft": "https://sandbox.zenodo.org/api/deposit/depositions/298295",
        "latest_draft_html": "https://sandbox.zenodo.org/deposit/298295", "publish":
        "https://sandbox.zenodo.org/api/deposit/depositions/298295/actions/publish",
        "edit": "https://sandbox.zenodo.org/api/deposit/depositions/298295/actions/edit",
        "discard": "https://sandbox.zenodo.org/api/deposit/depositions/298295/actions/discard",
        "newversion": "https://sandbox.zenodo.org/api/deposit/depositions/298295/actions/newversion"},
        "record_id": 298295, "owner": 43920, "files": [], "state": "unsubmitted",
        "submitted": false}'
    headers:
      content-type:
      - application/json
      etag:
      - '"4"'
      retry-after:
      - '45'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '952'
      x-ratelimit-reset:
      - '1753531332'
    status:
      code: 201
      message: CREATED
- request:
    body: "{\n  \"metadata\": {\n    \"title\": \"Test Package With Meta\",\n    \"description\":
      \"This is a test package to test zenodo write function\",\n    \"publication_date\":
      \"2025-07-26\",\n    \"license\": \"CC-BY-4.0\",\n    \"upload_type\": \"dataset\",\n
      \   \"access_right\": \"open\",\n    \"creators\": [\n      {\n        \"name\":
      \"Test FD\",\n        \"affiliation\": \"OKFN\"\n      }\n    ]\n  }\n}"
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://sandbox.zenodo.org/api//deposit/depositions/298295
  response:
    body:
      string: '{"created": "2025-07-26T12:01:26.604967+00:00", "modified": "2025-07-26T12:01:27.082502+00:00",
        "id": 298295, "conceptrecid": "298294", "metadata": {"title": "Test Package
        With Meta", "publication_date": "2025-07-26", "description": "This is a test
        package to test zenodo write function", "access_right": "open", "creators":
        [{"name": "Test FD", "affiliation": "OKFN"}], "license": "cc-by-4.0", "imprint_publisher":
        "Zenodo", "upload_type": "dataset", "prereserve_doi": {"doi": "10.5281/zenodo.298295",
        "recid": 298295}}, "title": "Test Package With Meta", "links": {"self": "https://sandbox.zenodo.org/api/deposit/depositions/298295",
        "html": "https://sandbox.zenodo.org/deposit/298295", "badge": "https://sandbox.zenodo.org/badge/doi/.svg",
        "files": "https://sandbox.zenodo.org/api/deposit/depositions/298295/files",
        "bucket": "https://sandbox.zenodo.org/api/files/f0e25dc6-faec-4086-83a1-257650a72542",
        "latest_draft": "https://sandbox.zenodo.org/api/deposit/depositions/298295",
        "latest_draft_html": "https://sandbox.zenodo.org/deposit/298295", "publish":
        "https://sandbox.zenodo.org/api/deposit/depositions/298295/actions/publish",
        "edit": "https://sandbox.zenodo.org/api/deposit/depositions/298295/actions/edit",
        "discard": "https://sandbox.zenodo.org/api/deposit/depositions/298295/actions/discard",
        "newversion": "https://sandbox.zenodo.org/api/deposit/depositions/298295/actions/newversion"},
        "record_id": 298295, "owner": 43920, "files": [], "state": "unsubmitted",
        "submitted": false}'
    headers:
      content-type:
      - application/json
      etag:
      - W/"6"
      retry-after:
      - '44'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '951'
      x-ratelimit-reset:
      - '1753531332'
    status:
      code: 200
      message: OK
- request:
    body: "--c849d18f181ff7698ccdc0e442cd5f0d\r\nContent-Disposition: form-data; name=\"filename\"\r\n\r\n/tmp/pytest-of-coroa/pytest-9/test_zenodo_adapter_write_reso7/tmpwrlls893/datapackage.json\r\n--c849d18f181ff7698ccdc0e442cd5f0d\r\nContent-Disposition:
      form-data; name=\"file\"; filename=\"datapackage.json\"\r\n\r\n{\n  \"name\":
      \"testing\",\n  \"title\": \"Test Package With Meta\",\n  \"description\": \"This
      is a test package to test zenodo write function\",\n  \"licenses\": [\n    {\n
      \     \"name\": \"CC-BY-4.0\",\n      \"title\": \"Creative Commons Attribution
      4.0\",\n      \"path\": \"https://creativecommons.org/licenses/by/4.0/\"\n    }\n
      \ ],\n  \"contributors\": [\n    {\n      \"title\": \"Test FD\",\n      \"role\":
      \"author\",\n      \"organization\": \"OKFN\"\n    }\n  ],\n  \"keywords\":
      [\n    \"testdata\",\n    \"testzenodowrite\",\n    \"frictionlessdata\"\n  ],\n
      \ \"created\": \"1985-04-12T23:20:50.52Z\",\n  \"resources\": [\n    {\n      \"name\":
      \"data\",\n      \"type\": \"table\",\n      \"path\": \"data.csv\",\n      \"scheme\":
      \"file\",\n      \"format\": \"csv\",\n      \"mediatype\": \"text/csv\",\n
      \     \"schema\": {\n        \"fields\": [\n          {\n            \"name\":
      \"id\",\n            \"type\": \"string\",\n            \"constraints\": {\n
      \             \"required\": true\n            }\n          },\n          {\n
      \           \"name\": \"name\",\n            \"type\": \"string\"\n          },\n
      \         {\n            \"name\": \"description\",\n            \"type\": \"string\"\n
      \         },\n          {\n            \"name\": \"amount\",\n            \"type\":
      \"number\"\n          }\n        ],\n        \"primaryKey\": [\n          \"id\"\n
      \       ]\n      }\n    },\n    {\n      \"name\": \"data2\",\n      \"type\":
      \"table\",\n      \"path\": \"data2.csv\",\n      \"scheme\": \"file\",\n      \"format\":
      \"csv\",\n      \"mediatype\": \"text/csv\",\n      \"schema\": {\n        \"fields\":
      [\n          {\n            \"name\": \"parent\",\n            \"type\": \"string\"\n
      \         },\n          {\n            \"name\": \"comment\",\n            \"type\":
      \"string\"\n          }\n        ],\n        \"foreignKeys\": [\n          {\n
      \           \"fields\": [\n              \"parent\"\n            ],\n            \"reference\":
      {\n              \"resource\": \"data\",\n              \"fields\": [\n                \"id\"\n
      \             ]\n            }\n          }\n        ]\n      }\n    }\n  ]\n}\r\n--c849d18f181ff7698ccdc0e442cd5f0d--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=c849d18f181ff7698ccdc0e442cd5f0d
    method: POST
    uri: https://sandbox.zenodo.org/api//deposit/depositions/298295/files
  response:
    body:
      string: '{"id": "f6985b78-a682-4752-920a-876c661548b3", "filename": "datapackage.json",
        "filesize": 1890.0, "checksum": "e2393a673a7bbfcc1519127d988550aa", "links":
        {"self": "https://sandbox.zenodo.org/api/deposit/depositions/298295/files/f6985b78-a682-4752-920a-876c661548b3",
        "download": "https://sandbox.zenodo.org/api/records/298295/draft/files/datapackage.json/content"}}'
    headers:
      content-type:
      - application/json
      retry-after:
      - '44'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '950'
      x-ratelimit-reset:
      - '1753531332'
    status:
      code: 201
      message: CREATED
[...]
- request:
    body: "--c9c6a336e0b0920d5754b1528b38ff8f\r\nContent-Disposition: form-data; name=\"filename\"\r\n\r\ndata/package/data2.csv\r\n--c9c6a336e0b0920d5754b1528b38ff8f\r\nContent-Disposition:
      form-data; name=\"file\"; filename=\"data2.csv\"\r\n\r\nparent,comment\nA3001,comment1\nA3001,comment2\nA5032,comment3\n\r\n--c9c6a336e0b0920d5754b1528b38ff8f--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=c9c6a336e0b0920d5754b1528b38ff8f
    method: POST
    uri: https://sandbox.zenodo.org/api//deposit/depositions/298295/files
  response:
    body:
      string: '{"id": "bf07c715-a366-4cdd-92f5-aff7969914e4", "filename": "data2.csv",
        "filesize": 60.0, "checksum": "cb4a683d8eecb72c9ac9beea91fd592e", "links":
        {"self": "https://sandbox.zenodo.org/api/deposit/depositions/298295/files/bf07c715-a366-4cdd-92f5-aff7969914e4",
        "download": "https://sandbox.zenodo.org/api/records/298295/draft/files/data2.csv/content"}}'
    headers:
      content-type:
      - application/json
      retry-after:
      - '43'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '948'
      x-ratelimit-reset:
      - '1753531332'
    status:
      code: 201
      message: CREATED
version: 1
