interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/search/repositories?q=repo%3Atest-repo-without-datapackage
  response:
    body:
      string: '{"message":"Validation Failed","errors":[{"message":"The listed users
        and repositories cannot be searched either because the resources do not exist
        or you do not have permission to view them.","resource":"Search","field":"q","code":"invalid"}],"documentation_url":"https://docs.github.com/v3/search/"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-OAuth-Scopes:
      - repo
      X-RateLimit-Limit:
      - '30'
      X-RateLimit-Remaining:
      - '24'
      X-RateLimit-Reset:
      - '1661140308'
      X-RateLimit-Resource:
      - search
      X-RateLimit-Used:
      - '6'
      github-authentication-token-expiration:
      - 2022-09-08 09:16:16 UTC
    status:
      code: 422
      message: Unprocessable Entity
version: 1
