interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox.zenodo.org/api//deposit/depositions
  response:
    body:
      string: '{"created": "2025-05-30T09:41:55.935039+00:00", "modified": "2025-05-30T09:41:56.077002+00:00",
        "id": 263032, "conceptrecid": "263031", "metadata": {"access_right": "open",
        "prereserve_doi": {"doi": "10.5281/zenodo.263032", "recid": 263032}}, "title":
        "", "links": {"self": "https://sandbox.zenodo.org/api/deposit/depositions/263032",
        "html": "https://sandbox.zenodo.org/deposit/263032", "badge": "https://sandbox.zenodo.org/badge/doi/.svg",
        "files": "https://sandbox.zenodo.org/api/deposit/depositions/263032/files",
        "bucket": "https://sandbox.zenodo.org/api/files/250f37b5-8df6-4b5c-b00d-1d86c95aff97",
        "latest_draft": "https://sandbox.zenodo.org/api/deposit/depositions/263032",
        "latest_draft_html": "https://sandbox.zenodo.org/deposit/263032", "publish":
        "https://sandbox.zenodo.org/api/deposit/depositions/263032/actions/publish",
        "edit": "https://sandbox.zenodo.org/api/deposit/depositions/263032/actions/edit",
        "discard": "https://sandbox.zenodo.org/api/deposit/depositions/263032/actions/discard",
        "newversion": "https://sandbox.zenodo.org/api/deposit/depositions/263032/actions/newversion"},
        "record_id": 263032, "owner": 43920, "files": [], "state": "unsubmitted",
        "submitted": false}'
    headers:
      content-type:
      - application/json
      etag:
      - '"4"'
      retry-after:
      - '59'
      x-ratelimit-limit:
      - '133'
      x-ratelimit-remaining:
      - '132'
      x-ratelimit-reset:
      - '1748598176'
    status:
      code: 201
      message: CREATED
- request:
    body: "{\n  \"metadata\": {\n    \"title\": \"Test Package With Meta\",\n    \"description\":
      \"This is a test package to test zenodo write function\",\n    \"publication_date\":
      \"2025-05-30\",\n    \"license\": \"CC-BY-4.0\",\n    \"upload_type\": \"dataset\",\n
      \   \"access_right\": \"open\",\n    \"creators\": [\n      {\n        \"name\":
      \"Test FD\",\n        \"affiliation\": \"OKFN\"\n      }\n    ]\n  }\n}"
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://sandbox.zenodo.org/api//deposit/depositions/263032
  response:
    body:
      string: '{"created": "2025-05-30T09:41:55.935039+00:00", "modified": "2025-05-30T09:41:56.468225+00:00",
        "id": 263032, "conceptrecid": "263031", "metadata": {"title": "Test Package
        With Meta", "publication_date": "2025-05-30", "description": "This is a test
        package to test zenodo write function", "access_right": "open", "creators":
        [{"name": "Test FD", "affiliation": "OKFN"}], "license": "cc-by-4.0", "imprint_publisher":
        "Zenodo", "upload_type": "dataset", "prereserve_doi": {"doi": "10.5281/zenodo.263032",
        "recid": 263032}}, "title": "Test Package With Meta", "links": {"self": "https://sandbox.zenodo.org/api/deposit/depositions/263032",
        "html": "https://sandbox.zenodo.org/deposit/263032", "badge": "https://sandbox.zenodo.org/badge/doi/.svg",
        "files": "https://sandbox.zenodo.org/api/deposit/depositions/263032/files",
        "bucket": "https://sandbox.zenodo.org/api/files/250f37b5-8df6-4b5c-b00d-1d86c95aff97",
        "latest_draft": "https://sandbox.zenodo.org/api/deposit/depositions/263032",
        "latest_draft_html": "https://sandbox.zenodo.org/deposit/263032", "publish":
        "https://sandbox.zenodo.org/api/deposit/depositions/263032/actions/publish",
        "edit": "https://sandbox.zenodo.org/api/deposit/depositions/263032/actions/edit",
        "discard": "https://sandbox.zenodo.org/api/deposit/depositions/263032/actions/discard",
        "newversion": "https://sandbox.zenodo.org/api/deposit/depositions/263032/actions/newversion"},
        "record_id": 263032, "owner": 43920, "files": [], "state": "unsubmitted",
        "submitted": false}'
    headers:
      content-type:
      - application/json
      etag:
      - W/"6"
      retry-after:
      - '59'
      x-ratelimit-limit:
      - '133'
      x-ratelimit-remaining:
      - '131'
      x-ratelimit-reset:
      - '1748598176'
    status:
      code: 200
      message: OK
- request:
    body: "--ae0a3e6167bdb8c0ac887ab46ef9d8e8\r\nContent-Disposition: form-data; name=\"filename\"\r\n\r\n/tmp/tmpr7fqt7k7/datapackage.json\r\n--ae0a3e6167bdb8c0ac887ab46ef9d8e8\r\nContent-Disposition:
      form-data; name=\"file\"; filename=\"datapackage.json\"\r\n\r\n{\n  \"name\":
      \"testing\",\n  \"title\": \"Test Package With Meta\",\n  \"description\": \"This
      is a test package to test zenodo write function\",\n  \"licenses\": [\n    {\n
      \     \"name\": \"CC-BY-4.0\",\n      \"title\": \"Creative Commons Attribution
      4.0\",\n      \"path\": \"https://creativecommons.org/licenses/by/4.0/\"\n    }\n
      \ ],\n  \"contributors\": [\n    {\n      \"title\": \"Test FD\",\n      \"role\":
      \"author\",\n      \"organization\": \"OKFN\"\n    }\n  ],\n  \"keywords\":
      [\n    \"testdata\",\n    \"testzenodowrite\",\n    \"frictionlessdata\"\n  ],\n
      \ \"created\": \"1985-04-12T23:20:50.52Z\",\n  \"resources\": [\n    {\n      \"name\":
      \"data\",\n      \"type\": \"table\",\n      \"path\": \"data.csv\",\n      \"scheme\":
      \"file\",\n      \"format\": \"csv\",\n      \"mediatype\": \"text/csv\",\n
      \     \"schema\": {\n        \"fields\": [\n          {\n            \"name\":
      \"id\",\n            \"type\": \"string\",\n            \"constraints\": {\n
      \             \"required\": true\n            }\n          },\n          {\n
      \           \"name\": \"name\",\n            \"type\": \"string\"\n          },\n
      \         {\n            \"name\": \"description\",\n            \"type\": \"string\"\n
      \         },\n          {\n            \"name\": \"amount\",\n            \"type\":
      \"number\"\n          }\n        ],\n        \"primaryKey\": [\n          \"id\"\n
      \       ]\n      }\n    },\n    {\n      \"name\": \"data2\",\n      \"type\":
      \"table\",\n      \"path\": \"data2.csv\",\n      \"scheme\": \"file\",\n      \"format\":
      \"csv\",\n      \"mediatype\": \"text/csv\",\n      \"schema\": {\n        \"fields\":
      [\n          {\n            \"name\": \"parent\",\n            \"type\": \"string\"\n
      \         },\n          {\n            \"name\": \"comment\",\n            \"type\":
      \"string\"\n          }\n        ],\n        \"foreignKeys\": [\n          {\n
      \           \"fields\": [\n              \"parent\"\n            ],\n            \"reference\":
      {\n              \"resource\": \"data\",\n              \"fields\": [\n                \"id\"\n
      \             ]\n            }\n          }\n        ]\n      }\n    }\n  ]\n}\r\n--ae0a3e6167bdb8c0ac887ab46ef9d8e8--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=ae0a3e6167bdb8c0ac887ab46ef9d8e8
    method: POST
    uri: https://sandbox.zenodo.org/api//deposit/depositions/263032/files
  response:
    body:
      string: '{"id": "63830b6d-0ba6-4deb-aa75-fd0f2aefc2e3", "filename": "datapackage.json",
        "filesize": 1890.0, "checksum": "e2393a673a7bbfcc1519127d988550aa", "links":
        {"self": "https://sandbox.zenodo.org/api/deposit/depositions/263032/files/63830b6d-0ba6-4deb-aa75-fd0f2aefc2e3",
        "download": "https://sandbox.zenodo.org/api/records/263032/draft/files/datapackage.json/content"}}'
    headers:
      content-type:
      - application/json
      retry-after:
      - '59'
      x-ratelimit-limit:
      - '133'
      x-ratelimit-remaining:
      - '130'
      x-ratelimit-reset:
      - '1748598176'
    status:
      code: 201
      message: CREATED
[...]
- request:
    body: "--3f303ea372527d2c9b2370a7020f5b09\r\nContent-Disposition: form-data; name=\"filename\"\r\n\r\ndata/package/data2.csv\r\n--3f303ea372527d2c9b2370a7020f5b09\r\nContent-Disposition:
      form-data; name=\"file\"; filename=\"data2.csv\"\r\n\r\nparent,comment\nA3001,comment1\nA3001,comment2\nA5032,comment3\n\r\n--3f303ea372527d2c9b2370a7020f5b09--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=3f303ea372527d2c9b2370a7020f5b09
    method: POST
    uri: https://sandbox.zenodo.org/api//deposit/depositions/263032/files
  response:
    body:
      string: '{"id": "2039c6b1-3098-40e3-92ea-fbfd3731e16c", "filename": "data2.csv",
        "filesize": 60.0, "checksum": "cb4a683d8eecb72c9ac9beea91fd592e", "links":
        {"self": "https://sandbox.zenodo.org/api/deposit/depositions/263032/files/2039c6b1-3098-40e3-92ea-fbfd3731e16c",
        "download": "https://sandbox.zenodo.org/api/records/263032/draft/files/data2.csv/content"}}'
    headers:
      content-type:
      - application/json
      retry-after:
      - '58'
      x-ratelimit-limit:
      - '133'
      x-ratelimit-remaining:
      - '129'
      x-ratelimit-reset:
      - '1748598176'
    status:
      code: 201
      message: CREATED
version: 1
