interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://zenodo.org/api/records?all_versions=True&q=creators.name%3A%22FD+Tester%22
  response:
    body:
      string: '{"hits": {"hits": [{"created": "2022-09-17T16:25:09.618510+00:00",
        "modified": "2022-09-18T02:26:39.710746+00:00", "id": 7089059, "conceptrecid":
        "7089057", "doi": "10.5281/zenodo.7089059", "conceptdoi": "10.5281/zenodo.7089057",
        "doi_url": "https://doi.org/10.5281/zenodo.7089059", "metadata": {"title":
        "Frictionless Data Test Dataset - Draft", "doi": "10.5281/zenodo.7089059",
        "publication_date": "2022-09-17", "description": "<p>This is a test dataset</p>",
        "access_right": "open", "creators": [{"name": "FD Tester", "affiliation":
        "FD Tester"}], "resource_type": {"title": "Dataset", "type": "dataset"}, "license":
        {"id": "cc-by-4.0"}, "relations": {"version": [{"index": 0, "is_last": true,
        "parent": {"pid_type": "recid", "pid_value": "7089057"}}]}}, "title": "Frictionless
        Data Test Dataset - Draft", "links": {"self": "https://zenodo.org/api/records/7089059",
        "self_html": "https://zenodo.org/records/7089059", "preview_html": "https://zenodo.org/records/7089059?preview=1",
        "doi": "https://doi.org/10.5281/zenodo.7089059", "self_doi": "https://doi.org/10.5281/zenodo.7089059",
        "self_doi_html": "https://zenodo.org/doi/10.5281/zenodo.7089059", "reserve_doi":
        "https://zenodo.org/api/records/7089059/draft/pids/doi", "parent": "https://zenodo.org/api/records/7089057",
        "parent_html": "https://zenodo.org/records/7089057", "parent_doi": "https://doi.org/10.5281/zenodo.7089057",
        "parent_doi_html": "https://zenodo.org/doi/10.5281/zenodo.7089057", "self_iiif_manifest":
        "https://zenodo.org/api/iiif/record:7089059/manifest", "self_iiif_sequence":
        "https://zenodo.org/api/iiif/record:7089059/sequence/default", "files": "https://zenodo.org/api/records/7089059/files",
        "media_files": "https://zenodo.org/api/records/7089059/media-files", "archive":
        "https://zenodo.org/api/records/7089059/files-archive", "archive_media": "https://zenodo.org/api/records/7089059/media-files-archive",
        "latest": "https://zenodo.org/api/records/7089059/versions/latest", "latest_html":
        "https://zenodo.org/records/7089059/latest", "versions": "https://zenodo.org/api/records/7089059/versions",
        "draft": "https://zenodo.org/api/records/7089059/draft", "access_links": "https://zenodo.org/api/records/7089059/access/links",
        "access_grants": "https://zenodo.org/api/records/7089059/access/grants", "access_users":
        "https://zenodo.org/api/records/7089059/access/users", "access_request": "https://zenodo.org/api/records/7089059/access/request",
        "access": "https://zenodo.org/api/records/7089059/access", "communities":
        "https://zenodo.org/api/records/7089059/communities", "communities-suggestions":
        "https://zenodo.org/api/records/7089059/communities-suggestions", "requests":
        "https://zenodo.org/api/records/7089059/requests"}, "updated": "2022-09-18T02:26:39.710746+00:00",
        "recid": "7089059", "revision": 2, "files": [{"id": "069a17f0-ba88-454d-8aed-3e106d028ef4",
        "key": "capitals.csv", "size": 76, "checksum": "md5:154d822b8c2aa259867067f01c0efee5",
        "links": {"self": "https://zenodo.org/api/records/7089059/files/capitals.csv/content"}}],
        "swh": {}, "owners": [{"id": "405552"}], "status": "published", "stats": {"downloads":
        62, "unique_downloads": 26, "views": 83, "unique_views": 77, "version_downloads":
        62, "version_unique_downloads": 26, "version_unique_views": 77, "version_views":
        83}, "state": "done", "submitted": true}, {"created": "2022-09-18T06:28:27.281204+00:00",
        "modified": "2022-09-18T14:26:15.949950+00:00", "id": 7089860, "conceptrecid":
        "7089859", "doi": "10.5281/zenodo.7089860", "conceptdoi": "10.5281/zenodo.7089859",
        "doi_url": "https://doi.org/10.5281/zenodo.7089860", "metadata": {"title":
        "Frictionless Data Test Publication Journal", "doi": "10.5281/zenodo.7089860",
        "publication_date": "2022-09-18", "description": "<p>This is a test journal</p>",
        "access_right": "open", "creators": [{"name": "FD Tester", "affiliation":
        "FD Testing"}], "keywords": ["FDTP", "TPJ"], "resource_type": {"title": "Journal
        article", "type": "publication", "subtype": "article"}, "license": {"id":
        "cc-by-4.0"}, "relations": {"version": [{"index": 0, "is_last": true, "parent":
        {"pid_type": "recid", "pid_value": "7089859"}}]}}, "title": "Frictionless
        Data Test Publication Journal", "links": {"self": "https://zenodo.org/api/records/7089860",
        "self_html": "https://zenodo.org/records/7089860", "preview_html": "https://zenodo.org/records/7089860?preview=1",
        "doi": "https://doi.org/10.5281/zenodo.7089860", "self_doi": "https:[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://zenodo.org/records/7096870/files/datapackage.json
  response:
    body:
      string: "{\n  \"name\": \"test-tabulator\",\n  \"resources\": [\n    {\n      \"name\":
        \"first-resource\",\n      \"path\": \"table.xls\",\n      \"schema\": {\n
        \       \"fields\": [\n          {\n            \"name\": \"id\",\n            \"type\":
        \"number\"\n          },\n          {\n            \"name\": \"name\",\n            \"type\":
        \"string\"\n          }\n        ]\n      }\n    }\n  ]\n}\n"
    headers:
      content-disposition:
      - inline
      content-type:
      - text/plain; charset=utf-8
      - text/plain; charset=utf-8
      oc-checksum:
      - MD5:e8c16a24bb893cef6f6c0c460d64113
      retry-after:
      - '22'
      x-ratelimit-limit:
      - '133'
      x-ratelimit-remaining:
      - '74'
      x-ratelimit-reset:
      - '1753531314'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://zenodo.org/records/7078760/files/datapackage.json
  response:
    body:
      string: "{\n    \"name\": \"testing\",\n    \"resources\": [\n        {\n            \"name\":
        \"data\",\n            \"path\": \"data.csv\",\n            \"schema\": {\n
        \               \"fields\": [\n                    {\n                        \"name\":
        \"id\",\n                        \"type\": \"string\",\n                        \"constraints\":
        {\n                            \"required\": true\n                        }\n
        \                   },\n                    {\n                        \"name\":
        \"name\",\n                        \"type\": \"string\"\n                    },\n
        \                   {\n                        \"name\": \"description\",\n
        \                       \"type\": \"string\"\n                    },\n                    {\n
        \                       \"name\": \"amount\",\n                        \"type\":
        \"number\"\n                    }\n                ],\n                \"primaryKey\":
        \"id\"\n            }\n        },\n        {\n            \"name\": \"data2\",\n
        \           \"path\": \"data2.csv\",\n            \"schema\": {\n                \"fields\":
        [\n                    {\n                        \"type\": \"string\",\n
        \                       \"name\": \"parent\"\n                    },\n                    {\n
        \                       \"type\": \"string\",\n                        \"name\":
        \"comment\"\n                    }\n                ],\n                \"foreignKeys\":
        [\n                    {\n                        \"fields\": \"parent\",\n
        \                       \"reference\": {\n                            \"resource\":
        \"data\",\n                            \"fields\": \"id\"\n                        }\n
        \                   }\n                ]\n            }\n        }\n    ]\n}\n"
    headers:
      content-disposition:
      - inline
      content-type:
      - text/plain; charset=utf-8
      - text/plain; charset=utf-8
      oc-checksum:
      - MD5:127f3943c9a2fa7fe892c7159b6fbded
      retry-after:
      - '21'
      x-ratelimit-limit:
      - '133'
      x-ratelimit-remaining:
      - '71'
      x-ratelimit-reset:
      - '1753531314'
    status:
      code: 200
      message: OK
version: 1
