interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://zenodo.org/api/records/7078725
  response:
    body:
      string: '{"created": "2022-09-14T10:11:21.156387+00:00", "modified": "2022-09-14T14:26:27.392738+00:00",
        "id": 7078725, "conceptrecid": "7078724", "doi": "10.5281/zenodo.7078725",
        "conceptdoi": "10.5281/zenodo.7078724", "doi_url": "https://doi.org/10.5281/zenodo.7078725",
        "metadata": {"title": "Frictionless Data Test Dataset Multiple File Types
        Without Descriptor", "doi": "10.5281/zenodo.7078725", "publication_date":
        "2022-09-14", "description": "<p>This is the test dataset</p>", "access_right":
        "open", "creators": [{"name": "FD Testing", "affiliation": null}], "resource_type":
        {"title": "Dataset", "type": "dataset"}, "license": {"id": "cc-by-4.0"}, "relations":
        {"version": [{"index": 0, "is_last": true, "parent": {"pid_type": "recid",
        "pid_value": "7078724"}}]}}, "title": "Frictionless Data Test Dataset Multiple
        File Types Without Descriptor", "links": {"self": "https://zenodo.org/api/records/7078725",
        "self_html": "https://zenodo.org/records/7078725", "preview_html": "https://zenodo.org/records/7078725?preview=1",
        "doi": "https://doi.org/10.5281/zenodo.7078725", "self_doi": "https://doi.org/10.5281/zenodo.7078725",
        "self_doi_html": "https://zenodo.org/doi/10.5281/zenodo.7078725", "reserve_doi":
        "https://zenodo.org/api/records/7078725/draft/pids/doi", "parent": "https://zenodo.org/api/records/7078724",
        "parent_html": "https://zenodo.org/records/7078724", "parent_doi": "https://doi.org/10.5281/zenodo.7078724",
        "parent_doi_html": "https://zenodo.org/doi/10.5281/zenodo.7078724", "self_iiif_manifest":
        "https://zenodo.org/api/iiif/record:7078725/manifest", "self_iiif_sequence":
        "https://zenodo.org/api/iiif/record:7078725/sequence/default", "files": "https://zenodo.org/api/records/7078725/files",
        "media_files": "https://zenodo.org/api/records/7078725/media-files", "archive":
        "https://zenodo.org/api/records/7078725/files-archive", "archive_media": "https://zenodo.org/api/records/7078725/media-files-archive",
        "latest": "https://zenodo.org/api/records/7078725/versions/latest", "latest_html":
        "https://zenodo.org/records/7078725/latest", "versions": "https://zenodo.org/api/records/7078725/versions",
        "draft": "https://zenodo.org/api/records/7078725/draft", "access_links": "https://zenodo.org/api/records/7078725/access/links",
        "access_grants": "https://zenodo.org/api/records/7078725/access/grants", "access_users":
        "https://zenodo.org/api/records/7078725/access/users", "access_request": "https://zenodo.org/api/records/7078725/access/request",
        "access": "https://zenodo.org/api/records/7078725/access", "communities":
        "https://zenodo.org/api/records/7078725/communities", "communities-suggestions":
        "https://zenodo.org/api/records/7078725/communities-suggestions", "requests":
        "https://zenodo.org/api/records/7078725/requests"}, "updated": "2022-09-14T14:26:27.392738+00:00",
        "recid": "7078725", "revision": 2, "files": [{"id": "51114598-4637-478d-a872-22eddee5872c",
        "key": "table.ods", "size": 8339, "checksum": "md5:4b71478e8803c50468310d2cd002c146",
        "links": {"self": "https://zenodo.org/api/records/7078725/files/table.ods/content"}},
        {"id": "27dd060d-d540-4949-812e-f53e8867d3bb", "key": "table.jsonl", "size":
        54, "checksum": "md5:ede814f1c4be172cbee337596131924c", "links": {"self":
        "https://zenodo.org/api/records/7078725/files/table.jsonl/content"}}, {"id":
        "b9b25013-fef5-4819-bfc7-eeb6d0c4e4b6", "key": "table.xls", "size": 6144,
        "checksum": "md5:3a980d[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://zenodo.org/records/7078725/files/table.tsv
  response:
    body:
      string: "id\tname\n1\tenglish\n2\t\u4E2D\u56FD\u4EBA\n3\t\\N\n"
    headers:
      content-disposition:
      - attachment; filename=table.tsv
      content-type:
      - application/octet-stream
      - application/octet-stream
      oc-checksum:
      - MD5:19b05b99484ca8a3ad3d1612fd178439
      retry-after:
      - '44'
      x-ratelimit-limit:
      - '133'
      x-ratelimit-remaining:
      - '83'
      x-ratelimit-reset:
      - '1753531314'
    status:
      code: 200
      message: OK
[...]
