interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://zenodo.org/api//deposit/depositions
  response:
    body:
      string: '{"created": "2025-05-30T09:10:27.765085+00:00", "modified": "2025-05-30T09:10:27.858808+00:00",
        "id": 15552249, "conceptrecid": "15552248", "metadata": {"access_right": "open",
        "prereserve_doi": {"doi": "10.5281/zenodo.15552249", "recid": 15552249}},
        "title": "", "links": {"self": "https://zenodo.org/api/deposit/depositions/15552249",
        "html": "https://zenodo.org/deposit/15552249", "badge": "https://zenodo.org/badge/doi/.svg",
        "files": "https://zenodo.org/api/deposit/depositions/15552249/files", "bucket":
        "https://zenodo.org/api/files/7065f39d-4b7d-4b45-84f8-6c5e2bfc7f07", "latest_draft":
        "https://zenodo.org/api/deposit/depositions/15552249", "latest_draft_html":
        "https://zenodo.org/deposit/15552249", "publish": "https://zenodo.org/api/deposit/depositions/15552249/actions/publish",
        "edit": "https://zenodo.org/api/deposit/depositions/15552249/actions/edit",
        "discard": "https://zenodo.org/api/deposit/depositions/15552249/actions/discard",
        "newversion": "https://zenodo.org/api/deposit/depositions/15552249/actions/newversion"},
        "record_id": 15552249, "owner": 31725, "files": [], "state": "unsubmitted",
        "submitted": false}'
    headers:
      content-type:
      - application/json
      etag:
      - '"4"'
      retry-after:
      - '39'
      x-ratelimit-limit:
      - '133'
      x-ratelimit-remaining:
      - '106'
      x-ratelimit-reset:
      - '1748596267'
    status:
      code: 201
      message: CREATED
- request:
    body: "{\n  \"metadata\": {\n    \"title\": \"Test Write File - JSONL\",\n    \"description\":
      \"Test Write File - JSONL\",\n    \"publication_date\": \"2025-05-30\",\n    \"upload_type\":
      \"dataset\",\n    \"access_right\": \"open\",\n    \"creators\": [\n      {\n
      \       \"name\": \"FD Tester\",\n        \"affiliation\": \"FD Testing Write\"\n
      \     }\n    ]\n  }\n}"
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://zenodo.org/api//deposit/depositions/15552249
  response:
    body:
      string: '{"created": "2025-05-30T09:10:27.765085+00:00", "modified": "2025-05-30T09:10:28.252777+00:00",
        "id": 15552249, "conceptrecid": "15552248", "metadata": {"title": "Test Write
        File - JSONL", "publication_date": "2025-05-30", "description": "Test Write
        File - JSONL", "access_right": "open", "creators": [{"name": "FD Tester",
        "affiliation": "FD Testing Write"}], "license": "cc-zero", "imprint_publisher":
        "Zenodo", "upload_type": "dataset", "prereserve_doi": {"doi": "10.5281/zenodo.15552249",
        "recid": 15552249}}, "title": "Test Write File - JSONL", "links": {"self":
        "https://zenodo.org/api/deposit/depositions/15552249", "html": "https://zenodo.org/deposit/15552249",
        "badge": "https://zenodo.org/badge/doi/.svg", "files": "https://zenodo.org/api/deposit/depositions/15552249/files",
        "bucket": "https://zenodo.org/api/files/7065f39d-4b7d-4b45-84f8-6c5e2bfc7f07",
        "latest_draft": "https://zenodo.org/api/deposit/depositions/15552249", "latest_draft_html":
        "https://zenodo.org/deposit/15552249", "publish": "https://zenodo.org/api/deposit/depositions/15552249/actions/publish",
        "edit": "https://zenodo.org/api/deposit/depositions/15552249/actions/edit",
        "discard": "https://zenodo.org/api/deposit/depositions/15552249/actions/discard",
        "newversion": "https://zenodo.org/api/deposit/depositions/15552249/actions/newversion"},
        "record_id": 15552249, "owner": 31725, "files": [], "state": "unsubmitted",
        "submitted": false}'
    headers:
      content-type:
      - application/json
      etag:
      - W/"6"
      retry-after:
      - '38'
      x-ratelimit-limit:
      - '133'
      x-ratelimit-remaining:
      - '105'
      x-ratelimit-reset:
      - '1748596267'
    status:
      code: 200
      message: OK
- request:
    body: "--96ccbf98301e783f5a5e4067d39bcb83\r\nContent-Disposition: form-data; name=\"filename\"\r\n\r\n/tmp/tmp_cyo6owe/datapackage.json\r\n--96ccbf98301e783f5a5e4067d39bcb83\r\nContent-Disposition:
      form-data; name=\"file\"; filename=\"datapackage.json\"\r\n\r\n{\n  \"name\":
      \"jsonl-package\",\n  \"resources\": [\n    {\n      \"name\": \"table\",\n
      \     \"type\": \"table\",\n      \"path\": \"table.jsonl\",\n      \"scheme\":
      \"file\",\n      \"format\": \"jsonl\",\n      \"mediatype\": \"text/jsonl\",\n
      \     \"encoding\": \"utf-8\",\n      \"dialect\": {\n        \"csv\": {\n          \"delimiter\":
      \"\\t\",\n          \"skipInitialSpace\": true\n        },\n        \"json\":
      {\n          \"keyed\": true\n        }\n      },\n      \"schema\": {\n        \"fields\":
      [\n          {\n            \"name\": \"id\",\n            \"type\": \"integer\"\n
      \         },\n          {\n            \"name\": \"name\",\n            \"type\":
      \"string\"\n          }\n        ]\n      }\n    }\n  ]\n}\r\n--96ccbf98301e783f5a5e4067d39bcb83--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=96ccbf98301e783f5a5e4067d39bcb83
    method: POST
    uri: https://zenodo.org/api//deposit/depositions/15552249/files
  response:
    body:
      string: '{"id": "eb717f96-1d81-4edd-8d79-8d3e2f3eb085", "filename": "datapackage.json",
        "filesize": 637.0, "checksum": "8e4e61638360b38296411c3cde22c09b", "links":
        {"self": "https://zenodo.org/api/deposit/depositions/15552249/files/eb717f96-1d81-4edd-8d79-8d3e2f3eb085",
        "download": "https://zenodo.org/api/records/15552249/draft/files/datapackage.json/content"}}'
    headers:
      content-type:
      - application/json
      retry-after:
      - '56'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '994'
      x-ratelimit-reset:
      - '1748596285'
    status:
      code: 201
      message: CREATED
- request:
    body: "--0cbcdbcbca542303d5a741e413046ef3\r\nContent-Disposition: form-data; name=\"filename\"\r\n\r\ndata/table.jsonl\r\n--0cbcdbcbca542303d5a741e413046ef3\r\nContent-Disposition:
      form-data; name=\"file\"; filename=\"table.jsonl\"\r\n\r\n{\"id\":1,\"name\":\"english\"}\n{\"id\":2,\"name\":\"\u4E2D\u56FD\u4EBA\"}\n\r\n--0cbcdbcbca542303d5a741e413046ef3--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=0cbcdbcbca542303d5a741e413046ef3
    method: POST
    uri: https://zenodo.org/api//deposit/depositions/15552249/files
  response:
    body:
      string: '{"id": "d63e8f23-3227-4335-a587-aa948eae704e", "filename": "table.jsonl",
        "filesize": 54.0, "checksum": "ede814f1c4be172cbee337596131924c", "links":
        {"self": "https://zenodo.org/api/deposit/depositions/15552249/files/d63e8f23-3227-4335-a587-aa948eae704e",
        "download": "https://zenodo.org/api/records/15552249/draft/files/table.jsonl/content"}}'
    headers:
      content-type:
      - application/json
      retry-after:
      - '55'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '993'
      x-ratelimit-reset:
      - '1748596285'
    status:
      code: 201
      message: CREATED
version: 1
