interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://zenodo.org/api//deposit/depositions
  response:
    body:
      string: '{"created": "2025-05-30T09:10:38.297297+00:00", "modified": "2025-05-30T09:10:38.368842+00:00",
        "id": 15552264, "conceptrecid": "15552263", "metadata": {"access_right": "open",
        "prereserve_doi": {"doi": "10.5281/zenodo.15552264", "recid": 15552264}},
        "title": "", "links": {"self": "https://zenodo.org/api/deposit/depositions/15552264",
        "html": "https://zenodo.org/deposit/15552264", "badge": "https://zenodo.org/badge/doi/.svg",
        "files": "https://zenodo.org/api/deposit/depositions/15552264/files", "bucket":
        "https://zenodo.org/api/files/1c81a65c-10de-4af5-ba84-26813b133c99", "latest_draft":
        "https://zenodo.org/api/deposit/depositions/15552264", "latest_draft_html":
        "https://zenodo.org/deposit/15552264", "publish": "https://zenodo.org/api/deposit/depositions/15552264/actions/publish",
        "edit": "https://zenodo.org/api/deposit/depositions/15552264/actions/edit",
        "discard": "https://zenodo.org/api/deposit/depositions/15552264/actions/discard",
        "newversion": "https://zenodo.org/api/deposit/depositions/15552264/actions/newversion"},
        "record_id": 15552264, "owner": 31725, "files": [], "state": "unsubmitted",
        "submitted": false}'
    headers:
      content-type:
      - application/json
      etag:
      - '"4"'
      retry-after:
      - '46'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '979'
      x-ratelimit-reset:
      - '1748596285'
    status:
      code: 201
      message: CREATED
- request:
    body: "{\n  \"metadata\": {\n    \"title\": \"Test Package With Meta\",\n    \"description\":
      \"This is a test package to test zenodo write function\",\n    \"publication_date\":
      \"2025-05-30\",\n    \"license\": \"CC-BY-4.0\",\n    \"upload_type\": \"dataset\",\n
      \   \"access_right\": \"open\",\n    \"creators\": [\n      {\n        \"name\":
      \"Test FD\",\n        \"affiliation\": \"OKFN\"\n      }\n    ]\n  }\n}"
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://zenodo.org/api//deposit/depositions/15552264
  response:
    body:
      string: '{"created": "2025-05-30T09:10:38.297297+00:00", "modified": "2025-05-30T09:10:38.703256+00:00",
        "id": 15552264, "conceptrecid": "15552263", "metadata": {"title": "Test Package
        With Meta", "publication_date": "2025-05-30", "description": "This is a test
        package to test zenodo write function", "access_right": "open", "creators":
        [{"name": "Test FD", "affiliation": "OKFN"}], "license": "cc-by-4.0", "imprint_publisher":
        "Zenodo", "upload_type": "dataset", "prereserve_doi": {"doi": "10.5281/zenodo.15552264",
        "recid": 15552264}}, "title": "Test Package With Meta", "links": {"self":
        "https://zenodo.org/api/deposit/depositions/15552264", "html": "https://zenodo.org/deposit/15552264",
        "badge": "https://zenodo.org/badge/doi/.svg", "files": "https://zenodo.org/api/deposit/depositions/15552264/files",
        "bucket": "https://zenodo.org/api/files/1c81a65c-10de-4af5-ba84-26813b133c99",
        "latest_draft": "https://zenodo.org/api/deposit/depositions/15552264", "latest_draft_html":
        "https://zenodo.org/deposit/15552264", "publish": "https://zenodo.org/api/deposit/depositions/15552264/actions/publish",
        "edit": "https://zenodo.org/api/deposit/depositions/15552264/actions/edit",
        "discard": "https://zenodo.org/api/deposit/depositions/15552264/actions/discard",
        "newversion": "https://zenodo.org/api/deposit/depositions/15552264/actions/newversion"},
        "record_id": 15552264, "owner": 31725, "files": [], "state": "unsubmitted",
        "submitted": false}'
    headers:
      content-type:
      - application/json
      etag:
      - W/"6"
      retry-after:
      - '46'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '978'
      x-ratelimit-reset:
      - '1748596285'
    status:
      code: 200
      message: OK
- request:
    body: "--b27f3a4a0e92b4c8b9eff81b76c43216\r\nContent-Disposition: form-data; name=\"filename\"\r\n\r\n/tmp/tmp1b6wafpw/datapackage.json\r\n--b27f3a4a0e92b4c8b9eff81b76c43216\r\nContent-Disposition:
      form-data; name=\"file\"; filename=\"datapackage.json\"\r\n\r\n{\n  \"name\":
      \"testing\",\n  \"title\": \"Test Package With Meta\",\n  \"description\": \"This
      is a test package to test zenodo write function\",\n  \"licenses\": [\n    {\n
      \     \"name\": \"CC-BY-4.0\",\n      \"title\": \"Creative Commons Attribution
      4.0\",\n      \"path\": \"https://creativecommons.org/licenses/by/4.0/\"\n    }\n
      \ ],\n  \"contributors\": [\n    {\n      \"title\": \"Test FD\",\n      \"role\":
      \"author\",\n      \"organization\": \"OKFN\"\n    }\n  ],\n  \"keywords\":
      [\n    \"testdata\",\n    \"testzenodowrite\",\n    \"frictionlessdata\"\n  ],\n
      \ \"created\": \"1985-04-12T23:20:50.52Z\",\n  \"resources\": [\n    {\n      \"name\":
      \"data\",\n      \"type\": \"table\",\n      \"path\": \"data.csv\",\n      \"scheme\":
      \"file\",\n      \"format\": \"csv\",\n      \"mediatype\": \"text/csv\",\n
      \     \"schema\": {\n        \"fields\": [\n          {\n            \"name\":
      \"id\",\n            \"type\": \"string\",\n            \"constraints\": {\n
      \             \"required\": true\n            }\n          },\n          {\n
      \           \"name\": \"name\",\n            \"type\": \"string\"\n          },\n
      \         {\n            \"name\": \"description\",\n            \"type\": \"string\"\n
      \         },\n          {\n            \"name\": \"amount\",\n            \"type\":
      \"number\"\n          }\n        ],\n        \"primaryKey\": [\n          \"id\"\n
      \       ]\n      }\n    },\n    {\n      \"name\": \"data2\",\n      \"type\":
      \"table\",\n      \"path\": \"data2.csv\",\n      \"scheme\": \"file\",\n      \"format\":
      \"csv\",\n      \"mediatype\": \"text/csv\",\n      \"schema\": {\n        \"fields\":
      [\n          {\n            \"name\": \"parent\",\n            \"type\": \"string\"\n
      \         },\n          {\n            \"name\": \"comment\",\n            \"type\":
      \"string\"\n          }\n        ],\n        \"foreignKeys\": [\n          {\n
      \           \"fields\": [\n              \"parent\"\n            ],\n            \"reference\":
      {\n              \"resource\": \"data\",\n              \"fields\": [\n                \"id\"\n
      \             ]\n            }\n          }\n        ]\n      }\n    }\n  ]\n}\r\n--b27f3a4a0e92b4c8b9eff81b76c43216--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=b27f3a4a0e92b4c8b9eff81b76c43216
    method: POST
    uri: https://zenodo.org/api//deposit/depositions/15552264/files
  response:
    body:
      string: '{"id": "76197a5b-e40e-442f-9424-8a99b0986158", "filename": "datapackage.json",
        "filesize": 1890.0, "checksum": "e2393a673a7bbfcc1519127d988550aa", "links":
        {"self": "https://zenodo.org/api/deposit/depositions/15552264/files/76197a5b-e40e-442f-9424-8a99b0986158",
        "download": "https://zenodo.org/api/records/15552264/draft/files/datapackage.json/content"}}'
    headers:
      content-type:
      - application/json
      retry-after:
      - '45'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '977'
      x-ratelimit-reset:
      - '1748596285'
    status:
      code: 201
      message: CREATED
[...]
- request:
    body: "--567b1a0169c38a041f73ca101e6a8acd\r\nContent-Disposition: form-data; name=\"filename\"\r\n\r\ndata/package/data2.csv\r\n--567b1a0169c38a041f73ca101e6a8acd\r\nContent-Disposition:
      form-data; name=\"file\"; filename=\"data2.csv\"\r\n\r\nparent,comment\nA3001,comment1\nA3001,comment2\nA5032,comment3\n\r\n--567b1a0169c38a041f73ca101e6a8acd--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=567b1a0169c38a041f73ca101e6a8acd
    method: POST
    uri: https://zenodo.org/api//deposit/depositions/15552264/files
  response:
    body:
      string: '{"id": "93f0df53-27ac-4ff9-a474-50e07781d94d", "filename": "data2.csv",
        "filesize": 60.0, "checksum": "cb4a683d8eecb72c9ac9beea91fd592e", "links":
        {"self": "https://zenodo.org/api/deposit/depositions/15552264/files/93f0df53-27ac-4ff9-a474-50e07781d94d",
        "download": "https://zenodo.org/api/records/15552264/draft/files/data2.csv/content"}}'
    headers:
      content-type:
      - application/json
      retry-after:
      - '27'
      x-ratelimit-limit:
      - '133'
      x-ratelimit-remaining:
      - '93'
      x-ratelimit-reset:
      - '1748596267'
    status:
      code: 201
      message: CREATED
version: 1
