interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://zenodo.org/api/records?q=creators.name%3A%22FD+Tester%22&type=dataset
  response:
    body:
      string: '{"hits": {"hits": [{"created": "2022-09-20T15:04:03.118027+00:00",
        "modified": "2022-09-21T14:26:29.349341+00:00", "id": 7097299, "conceptrecid":
        "7097298", "doi": "10.5281/zenodo.7097299", "conceptdoi": "10.5281/zenodo.7097298",
        "doi_url": "https://doi.org/10.5281/zenodo.7097299", "metadata": {"title":
        "Test Write File - Remote", "doi": "10.5281/zenodo.7097299", "publication_date":
        "2022-09-20", "description": "<p>Test Write File - Remote</p>", "access_right":
        "open", "creators": [{"name": "FD Tester", "affiliation": "FD Testing Write"}],
        "resource_type": {"title": "Dataset", "type": "dataset"}, "license": {"id":
        "cc-zero"}, "relations": {"version": [{"index": 0, "is_last": true, "parent":
        {"pid_type": "recid", "pid_value": "7097298"}}]}}, "title": "Test Write File
        - Remote", "links": {"self": "https://zenodo.org/api/records/7097299", "self_html":
        "https://zenodo.org/records/7097299", "preview_html": "https://zenodo.org/records/7097299?preview=1",
        "doi": "https://doi.org/10.5281/zenodo.7097299", "self_doi": "https://doi.org/10.5281/zenodo.7097299",
        "self_doi_html": "https://zenodo.org/doi/10.5281/zenodo.7097299", "reserve_doi":
        "https://zenodo.org/api/records/7097299/draft/pids/doi", "parent": "https://zenodo.org/api/records/7097298",
        "parent_html": "https://zenodo.org/records/7097298", "parent_doi": "https://doi.org/10.5281/zenodo.7097298",
        "parent_doi_html": "https://zenodo.org/doi/10.5281/zenodo.7097298", "self_iiif_manifest":
        "https://zenodo.org/api/iiif/record:7097299/manifest", "self_iiif_sequence":
        "https://zenodo.org/api/iiif/record:7097299/sequence/default", "files": "https://zenodo.org/api/records/7097299/files",
        "media_files": "https://zenodo.org/api/records/7097299/media-files", "archive":
        "https://zenodo.org/api/records/7097299/files-archive", "archive_media": "https://zenodo.org/api/records/7097299/media-files-archive",
        "latest": "https://zenodo.org/api/records/7097299/versions/latest", "latest_html":
        "https://zenodo.org/records/7097299/latest", "versions": "https://zenodo.org/api/records/7097299/versions",
        "draft": "https://zenodo.org/api/records/7097299/draft", "access_links": "https://zenodo.org/api/records/7097299/access/links",
        "access_grants": "https://zenodo.org/api/records/7097299/access/grants", "access_users":
        "https://zenodo.org/api/records/7097299/access/users", "access_request": "https://zenodo.org/api/records/7097299/access/request",
        "access": "https://zenodo.org/api/records/7097299/access", "communities":
        "https://zenodo.org/api/records/7097299/communities", "communities-suggestions":
        "https://zenodo.org/api/records/7097299/communities-suggestions", "requests":
        "https://zenodo.org/api/records/7097299/requests"}, "updated": "2022-09-21T14:26:29.349341+00:00",
        "recid": "7097299", "revision": 2, "files": [{"id": "0ba59941-9f76-4865-aabe-8bebd572593f",
        "key": "datapackage.json", "size": 541, "checksum": "md5:fb17a3d877b5c4c7c089a29d1f21f7d4",
        "links": {"self": "https://zenodo.org/api/records/7097299/files/datapackage.json/content"}}],
        "swh": {}, "owners": [{"id": "405552"}], "status": "published", "stats": {"downloads":
        488, "unique_downloads": 435, "views": 40, "unique_views": 39, "version_downloads":
        479, "version_unique_downloads": 426, "version_unique_views": 39, "version_views":
        40}, "state": "done", "submitted": true}, {"created": "2022-09-20T12:29:36.824177+00:00",
        "modified": "2022-09-20T14:26:21.352087+00:00", "id": 7096870, "conceptrecid":
        "7096856", "doi": "10.5281/zenodo.7096870", "conceptdoi": "10.5281/zenodo.7096856",
        "doi_url": "https://doi.org/10.5281/zenodo.7096870", "metadata": {"title":
        "Test File", "doi": "10.5281/zenodo.7096870", "publication_date": "2022-09-20",
        "description": "<p>Test File</p>", "access_right": "open", "creators": [{"name":
     [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://zenodo.org/records/7097299/files/datapackage.json
  response:
    body:
      string: "{\n  \"name\": \"test-repo-resources-with-http-data-csv\",\n  \"resources\":
        [\n    {\n      \"name\": \"first-http-resource\",\n      \"path\": \"https://raw.githubusercontent.com/fdtester/test-repo-with-datapackage-yaml/master/data/capitals.csv\",\n
        \     \"schema\": {\n        \"fields\": [\n          {\n            \"name\":
        \"id\",\n            \"type\": \"integer\"\n          },\n          {\n            \"name\":
        \"cid\",\n            \"type\": \"string\"\n          },\n          {\n            \"name\":
        \"name\",\n            \"type\": \"string\"\n          }\n        ]\n      }\n
        \   }\n  ]\n}"
    headers:
      content-disposition:
      - inline
      content-type:
      - text/plain; charset=utf-8
      - text/plain; charset=utf-8
      oc-checksum:
      - MD5:fb17a3d877b5c4c7c089a29d1f21f7d4
      retry-after:
      - '22'
      x-ratelimit-limit:
      - '133'
      x-ratelimit-remaining:
      - '71'
      x-ratelimit-reset:
      - '1748596267'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://zenodo.org/records/7078760/files/datapackage.json
  response:
    body:
      string: "{\n    \"name\": \"testing\",\n    \"resources\": [\n        {\n            \"name\":
        \"data\",\n            \"path\": \"data.csv\",\n            \"schema\": {\n
        \               \"fields\": [\n                    {\n                        \"name\":
        \"id\",\n                        \"type\": \"string\",\n                        \"constraints\":
        {\n                            \"required\": true\n                        }\n
        \                   },\n                    {\n                        \"name\":
        \"name\",\n                        \"type\": \"string\"\n                    },\n
        \                   {\n                        \"name\": \"description\",\n
        \                       \"type\": \"string\"\n                    },\n                    {\n
        \                       \"name\": \"amount\",\n                        \"type\":
        \"number\"\n                    }\n                ],\n                \"primaryKey\":
        \"id\"\n            }\n        },\n        {\n            \"name\": \"data2\",\n
        \           \"path\": \"data2.csv\",\n            \"schema\": {\n                \"fields\":
        [\n                    {\n                        \"type\": \"string\",\n
        \                       \"name\": \"parent\"\n                    },\n                    {\n
        \                       \"type\": \"string\",\n                        \"name\":
        \"comment\"\n                    }\n                ],\n                \"foreignKeys\":
        [\n                    {\n                        \"fields\": \"parent\",\n
        \                       \"reference\": {\n                            \"resource\":
        \"data\",\n                            \"fields\": \"id\"\n                        }\n
        \                   }\n                ]\n            }\n        }\n    ]\n}\n"
    headers:
      content-disposition:
      - inline
      content-type:
      - text/plain; charset=utf-8
      - text/plain; charset=utf-8
      oc-checksum:
      - MD5:127f3943c9a2fa7fe892c7159b6fbded
      retry-after:
      - '22'
      x-ratelimit-limit:
      - '133'
      x-ratelimit-remaining:
      - '68'
      x-ratelimit-reset:
      - '1748596267'
    status:
      code: 200
      message: OK
version: 1
