interactions:
- request:
    body: '{"name": "test-write-without-url", "auto_init": true, "gitignore_template":
      "Python"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.github.com/user/repos
  response:
    body:
      string: '{"message":"Repository creation failed.","errors":[{"resource":"Repository","code":"custom","field":"name","message":"name
        already exists on this account"}],"documentation_url":"https://docs.github.com/rest/reference/repos#create-a-repository-for-the-authenticated-user"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-OAuth-Scopes:
      - public_repo, repo
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-OAuth-Scopes:
      - repo
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4356'
      X-RateLimit-Reset:
      - '1661141315'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '644'
      github-authentication-token-expiration:
      - 2022-09-08 09:16:16 UTC
    status:
      code: 422
      message: Unprocessable Entity
version: 1
