interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox.zenodo.org/api//deposit/depositions
  response:
    body:
      string: '{"created": "2025-07-26T12:01:25.208657+00:00", "modified": "2025-07-26T12:01:25.272232+00:00",
        "id": 298293, "conceptrecid": "298292", "metadata": {"access_right": "open",
        "prereserve_doi": {"doi": "10.5281/zenodo.298293", "recid": 298293}}, "title":
        "", "links": {"self": "https://sandbox.zenodo.org/api/deposit/depositions/298293",
        "html": "https://sandbox.zenodo.org/deposit/298293", "badge": "https://sandbox.zenodo.org/badge/doi/.svg",
        "files": "https://sandbox.zenodo.org/api/deposit/depositions/298293/files",
        "bucket": "https://sandbox.zenodo.org/api/files/d6a495c0-0820-4395-9f19-9711f2010e94",
        "latest_draft": "https://sandbox.zenodo.org/api/deposit/depositions/298293",
        "latest_draft_html": "https://sandbox.zenodo.org/deposit/298293", "publish":
        "https://sandbox.zenodo.org/api/deposit/depositions/298293/actions/publish",
        "edit": "https://sandbox.zenodo.org/api/deposit/depositions/298293/actions/edit",
        "discard": "https://sandbox.zenodo.org/api/deposit/depositions/298293/actions/discard",
        "newversion": "https://sandbox.zenodo.org/api/deposit/depositions/298293/actions/newversion"},
        "record_id": 298293, "owner": 43920, "files": [], "state": "unsubmitted",
        "submitted": false}'
    headers:
      content-type:
      - application/json
      etag:
      - '"4"'
      retry-after:
      - '46'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '957'
      x-ratelimit-reset:
      - '1753531332'
    status:
      code: 201
      message: CREATED
- request:
    body: "{\n  \"metadata\": {\n    \"title\": \"Test Package With Meta\",\n    \"description\":
      \"This is a test package to test zenodo write function\",\n    \"publication_date\":
      \"2025-07-26\",\n    \"license\": \"CC-BY-4.0\",\n    \"upload_type\": \"dataset\",\n
      \   \"access_right\": \"open\",\n    \"creators\": [\n      {\n        \"name\":
      \"Test FD\",\n        \"affiliation\": \"OKFN\"\n      }\n    ]\n  }\n}"
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://sandbox.zenodo.org/api//deposit/depositions/298293
  response:
    body:
      string: '{"created": "2025-07-26T12:01:25.208657+00:00", "modified": "2025-07-26T12:01:25.521165+00:00",
        "id": 298293, "conceptrecid": "298292", "metadata": {"title": "Test Package
        With Meta", "publication_date": "2025-07-26", "description": "This is a test
        package to test zenodo write function", "access_right": "open", "creators":
        [{"name": "Test FD", "affiliation": "OKFN"}], "license": "cc-by-4.0", "imprint_publisher":
        "Zenodo", "upload_type": "dataset", "prereserve_doi": {"doi": "10.5281/zenodo.298293",
        "recid": 298293}}, "title": "Test Package With Meta", "links": {"self": "https://sandbox.zenodo.org/api/deposit/depositions/298293",
        "html": "https://sandbox.zenodo.org/deposit/298293", "badge": "https://sandbox.zenodo.org/badge/doi/.svg",
        "files": "https://sandbox.zenodo.org/api/deposit/depositions/298293/files",
        "bucket": "https://sandbox.zenodo.org/api/files/d6a495c0-0820-4395-9f19-9711f2010e94",
        "latest_draft": "https://sandbox.zenodo.org/api/deposit/depositions/298293",
        "latest_draft_html": "https://sandbox.zenodo.org/deposit/298293", "publish":
        "https://sandbox.zenodo.org/api/deposit/depositions/298293/actions/publish",
        "edit": "https://sandbox.zenodo.org/api/deposit/depositions/298293/actions/edit",
        "discard": "https://sandbox.zenodo.org/api/deposit/depositions/298293/actions/discard",
        "newversion": "https://sandbox.zenodo.org/api/deposit/depositions/298293/actions/newversion"},
        "record_id": 298293, "owner": 43920, "files": [], "state": "unsubmitted",
        "submitted": false}'
    headers:
      content-type:
      - application/json
      etag:
      - W/"6"
      retry-after:
      - '46'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '956'
      x-ratelimit-reset:
      - '1753531332'
    status:
      code: 200
      message: OK
- request:
    body: "--1a51b9553adba8bb4740b5da35e78219\r\nContent-Disposition: form-data; name=\"filename\"\r\n\r\n/tmp/pytest-of-coroa/pytest-9/test_zenodo_adapter_write_reso6/tmpsq6lpsus/datapackage.json\r\n--1a51b9553adba8bb4740b5da35e78219\r\nContent-Disposition:
      form-data; name=\"file\"; filename=\"datapackage.json\"\r\n\r\n{\n  \"name\":
      \"testing\",\n  \"title\": \"Test Package With Meta\",\n  \"description\": \"This
      is a test package to test zenodo write function\",\n  \"licenses\": [\n    {\n
      \     \"name\": \"CC-BY-4.0\",\n      \"title\": \"Creative Commons Attribution
      4.0\",\n      \"path\": \"https://creativecommons.org/licenses/by/4.0/\"\n    }\n
      \ ],\n  \"contributors\": [\n    {\n      \"title\": \"Test FD\",\n      \"role\":
      \"author\",\n      \"organization\": \"OKFN\"\n    }\n  ],\n  \"keywords\":
      [\n    \"testdata\",\n    \"testzenodowrite\",\n    \"frictionlessdata\"\n  ],\n
      \ \"created\": \"1985-04-12T23:20:50.52Z\",\n  \"resources\": [\n    {\n      \"name\":
      \"data\",\n      \"type\": \"table\",\n      \"path\": \"data.csv\",\n      \"scheme\":
      \"file\",\n      \"format\": \"csv\",\n      \"mediatype\": \"text/csv\",\n
      \     \"schema\": {\n        \"fields\": [\n          {\n            \"name\":
      \"id\",\n            \"type\": \"string\",\n            \"constraints\": {\n
      \             \"required\": true\n            }\n          },\n          {\n
      \           \"name\": \"name\",\n            \"type\": \"string\"\n          },\n
      \         {\n            \"name\": \"description\",\n            \"type\": \"string\"\n
      \         },\n          {\n            \"name\": \"amount\",\n            \"type\":
      \"number\"\n          }\n        ],\n        \"primaryKey\": [\n          \"id\"\n
      \       ]\n      }\n    },\n    {\n      \"name\": \"data2\",\n      \"type\":
      \"table\",\n      \"path\": \"data2.csv\",\n      \"scheme\": \"file\",\n      \"format\":
      \"csv\",\n      \"mediatype\": \"text/csv\",\n      \"schema\": {\n        \"fields\":
      [\n          {\n            \"name\": \"parent\",\n            \"type\": \"string\"\n
      \         },\n          {\n            \"name\": \"comment\",\n            \"type\":
      \"string\"\n          }\n        ],\n        \"foreignKeys\": [\n          {\n
      \           \"fields\": [\n              \"parent\"\n            ],\n            \"reference\":
      {\n              \"resource\": \"data\",\n              \"fields\": [\n                \"id\"\n
      \             ]\n            }\n          }\n        ]\n      }\n    }\n  ]\n}\r\n--1a51b9553adba8bb4740b5da35e78219--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=1a51b9553adba8bb4740b5da35e78219
    method: POST
    uri: https://sandbox.zenodo.org/api//deposit/depositions/298293/files
  response:
    body:
      string: '{"id": "7e77f336-25b5-4ca4-973f-89c3cc71d14a", "filename": "datapackage.json",
        "filesize": 1890.0, "checksum": "e2393a673a7bbfcc1519127d988550aa", "links":
        {"self": "https://sandbox.zenodo.org/api/deposit/depositions/298293/files/7e77f336-25b5-4ca4-973f-89c3cc71d14a",
        "download": "https://sandbox.zenodo.org/api/records/298293/draft/files/datapackage.json/content"}}'
    headers:
      content-type:
      - application/json
      retry-after:
      - '46'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '955'
      x-ratelimit-reset:
      - '1753531332'
    status:
      code: 201
      message: CREATED
[...]
- request:
    body: "--2827220c2365a93426c3a3a405a98574\r\nContent-Disposition: form-data; name=\"filename\"\r\n\r\ndata/package/data2.csv\r\n--2827220c2365a93426c3a3a405a98574\r\nContent-Disposition:
      form-data; name=\"file\"; filename=\"data2.csv\"\r\n\r\nparent,comment\nA3001,comment1\nA3001,comment2\nA5032,comment3\n\r\n--2827220c2365a93426c3a3a405a98574--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=2827220c2365a93426c3a3a405a98574
    method: POST
    uri: https://sandbox.zenodo.org/api//deposit/depositions/298293/files
  response:
    body:
      string: '{"id": "7cfc4aef-ac2d-4bd8-9a4d-930f424b8421", "filename": "data2.csv",
        "filesize": 60.0, "checksum": "cb4a683d8eecb72c9ac9beea91fd592e", "links":
        {"self": "https://sandbox.zenodo.org/api/deposit/depositions/298293/files/7cfc4aef-ac2d-4bd8-9a4d-930f424b8421",
        "download": "https://sandbox.zenodo.org/api/records/298293/draft/files/data2.csv/content"}}'
    headers:
      content-type:
      - application/json
      retry-after:
      - '45'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '953'
      x-ratelimit-reset:
      - '1753531332'
    status:
      code: 201
      message: CREATED
version: 1
