interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://zenodo.org/api/records/7248153
  response:
    body:
      string: '{"created": "2022-10-25T08:51:19.582742+00:00", "modified": "2022-10-25T14:26:30.684668+00:00",
        "id": 7248153, "conceptrecid": "7247968", "doi": "10.5281/zenodo.7248153",
        "conceptdoi": "10.5281/zenodo.7247968", "doi_url": "https://doi.org/10.5281/zenodo.7248153",
        "metadata": {"title": "Frictionless Data Test Dataset Zipped Single File Without
        Package File", "doi": "10.5281/zenodo.7248153", "publication_date": "2022-10-25",
        "description": "<p>This is a test dataset.</p>", "access_right": "open", "creators":
        [{"name": "FD Testing", "affiliation": null}], "version": "v2", "resource_type":
        {"title": "Dataset", "type": "dataset"}, "license": {"id": "cc-by-4.0"}, "relations":
        {"version": [{"index": 2, "is_last": true, "parent": {"pid_type": "recid",
        "pid_value": "7247968"}}]}}, "title": "Frictionless Data Test Dataset Zipped
        Single File Without Package File", "links": {"self": "https://zenodo.org/api/records/7248153",
        "self_html": "https://zenodo.org/records/7248153", "preview_html": "https://zenodo.org/records/7248153?preview=1",
        "doi": "https://doi.org/10.5281/zenodo.7248153", "self_doi": "https://doi.org/10.5281/zenodo.7248153",
        "self_doi_html": "https://zenodo.org/doi/10.5281/zenodo.7248153", "reserve_doi":
        "https://zenodo.org/api/records/7248153/draft/pids/doi", "parent": "https://zenodo.org/api/records/7247968",
        "parent_html": "https://zenodo.org/records/7247968", "parent_doi": "https://doi.org/10.5281/zenodo.7247968",
        "parent_doi_html": "https://zenodo.org/doi/10.5281/zenodo.7247968", "self_iiif_manifest":
        "https://zenodo.org/api/iiif/record:7248153/manifest", "self_iiif_sequence":
        "https://zenodo.org/api/iiif/record:7248153/sequence/default", "files": "https://zenodo.org/api/records/7248153/files",
        "media_files": "https://zenodo.org/api/records/7248153/media-files", "archive":
        "https://zenodo.org/api/records/7248153/files-archive", "archive_media": "https://zenodo.org/api/records/7248153/media-files-archive",
        "latest": "https://zenodo.org/api/records/7248153/versions/latest", "latest_html":
        "https://zenodo.org/records/7248153/latest", "versions": "https://zenodo.org/api/records/7248153/versions",
        "draft": "https://zenodo.org/api/records/7248153/draft", "access_links": "https://zenodo.org/api/records/7248153/access/links",
        "access_grants": "https://zenodo.org/api/records/7248153/access/grants", "access_users":
        "https://zenodo.org/api/records/7248153/access/users", "access_request": "https://zenodo.org/api/records/7248153/access/request",
        "access": "https://zenodo.org/api/records/7248153/access", "communities":
        "https://zenodo.org/api/records/7248153/communities", "communities-suggestions":
        "https://zenodo.org/api/records/7248153/communities-suggestions", "requests":
        "https://zenodo.org/api/records/7248153/requests"}, "updated": "2022-10-25T14:26:30.684668+00:00",
        "recid": "7248153", "revision": 2, "files": [{"id": "6b6f9f12-ec91-4c30-863e-864e3bf3ff03",
        "key": "address3.csv.zip", "size": 274, "checksum": "md5:c49bdd558d7874ee0135ee9a49584032",
        "links": {"self": "https://zenodo.org/api/records/7248153/files/address3.csv.zip/content"}}],
        "swh": {}, "owners": [{"id": "405552"}], "status": "published", "stats": {"downloads":
        67, "unique_downloads": 26, "views": 299, "unique_views": 288, "version_downloads":
        42, "version_unique_downloads": 16, "version_unique_views": 77, "version_views":
        81}, "state": "done", "submitted": true}'
    headers:
      content-type:
      - application/json
      etag:
      - W/"2"
      link:
      - <https://zenodo.org/api/records/7248153> ; rel="linkset" ; type="application/linkset+json"
      retry-after:
      - '44'
      x-ratelimit-limit:
      - '133'
      x-ratelimit-remaining:
      - '115'
      x-ratelimit-reset:
      - '1753531313'
    status:
      code: 200
      message: OK
version: 1
