interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://zenodo.org/api//deposit/depositions
  response:
    body:
      string: '{"created": "2025-05-30T09:10:33.858610+00:00", "modified": "2025-05-30T09:10:33.938291+00:00",
        "id": 15552257, "conceptrecid": "15552256", "metadata": {"access_right": "open",
        "prereserve_doi": {"doi": "10.5281/zenodo.15552257", "recid": 15552257}},
        "title": "", "links": {"self": "https://zenodo.org/api/deposit/depositions/15552257",
        "html": "https://zenodo.org/deposit/15552257", "badge": "https://zenodo.org/badge/doi/.svg",
        "files": "https://zenodo.org/api/deposit/depositions/15552257/files", "bucket":
        "https://zenodo.org/api/files/28109355-a787-4088-aa26-eacba7c50e7a", "latest_draft":
        "https://zenodo.org/api/deposit/depositions/15552257", "latest_draft_html":
        "https://zenodo.org/deposit/15552257", "publish": "https://zenodo.org/api/deposit/depositions/15552257/actions/publish",
        "edit": "https://zenodo.org/api/deposit/depositions/15552257/actions/edit",
        "discard": "https://zenodo.org/api/deposit/depositions/15552257/actions/discard",
        "newversion": "https://zenodo.org/api/deposit/depositions/15552257/actions/newversion"},
        "record_id": 15552257, "owner": 31725, "files": [], "state": "unsubmitted",
        "submitted": false}'
    headers:
      content-type:
      - application/json
      etag:
      - '"4"'
      retry-after:
      - '32'
      x-ratelimit-limit:
      - '133'
      x-ratelimit-remaining:
      - '99'
      x-ratelimit-reset:
      - '1748596267'
    status:
      code: 201
      message: CREATED
- request:
    body: "{\n  \"metadata\": {\n    \"title\": \"Test Write File - Data\",\n    \"description\":
      \"Test Write File - Data\",\n    \"publication_date\": \"2025-05-30\",\n    \"upload_type\":
      \"dataset\",\n    \"access_right\": \"open\",\n    \"creators\": [\n      {\n
      \       \"name\": \"FD Tester\",\n        \"affiliation\": \"FD Testing Write\"\n
      \     }\n    ]\n  }\n}"
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://zenodo.org/api//deposit/depositions/15552257
  response:
    body:
      string: '{"created": "2025-05-30T09:10:33.858610+00:00", "modified": "2025-05-30T09:10:34.223715+00:00",
        "id": 15552257, "conceptrecid": "15552256", "metadata": {"title": "Test Write
        File - Data", "publication_date": "2025-05-30", "description": "Test Write
        File - Data", "access_right": "open", "creators": [{"name": "FD Tester", "affiliation":
        "FD Testing Write"}], "license": "cc-zero", "imprint_publisher": "Zenodo",
        "upload_type": "dataset", "prereserve_doi": {"doi": "10.5281/zenodo.15552257",
        "recid": 15552257}}, "title": "Test Write File - Data", "links": {"self":
        "https://zenodo.org/api/deposit/depositions/15552257", "html": "https://zenodo.org/deposit/15552257",
        "badge": "https://zenodo.org/badge/doi/.svg", "files": "https://zenodo.org/api/deposit/depositions/15552257/files",
        "bucket": "https://zenodo.org/api/files/28109355-a787-4088-aa26-eacba7c50e7a",
        "latest_draft": "https://zenodo.org/api/deposit/depositions/15552257", "latest_draft_html":
        "https://zenodo.org/deposit/15552257", "publish": "https://zenodo.org/api/deposit/depositions/15552257/actions/publish",
        "edit": "https://zenodo.org/api/deposit/depositions/15552257/actions/edit",
        "discard": "https://zenodo.org/api/deposit/depositions/15552257/actions/discard",
        "newversion": "https://zenodo.org/api/deposit/depositions/15552257/actions/newversion"},
        "record_id": 15552257, "owner": 31725, "files": [], "state": "unsubmitted",
        "submitted": false}'
    headers:
      content-type:
      - application/json
      etag:
      - W/"6"
      retry-after:
      - '50'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '987'
      x-ratelimit-reset:
      - '1748596285'
    status:
      code: 200
      message: OK
- request:
    body: "--92c32695f41a2d035095ffdb0fef9396\r\nContent-Disposition: form-data; name=\"filename\"\r\n\r\n/tmp/tmpe1wj9nn6/datapackage.json\r\n--92c32695f41a2d035095ffdb0fef9396\r\nContent-Disposition:
      form-data; name=\"file\"; filename=\"datapackage.json\"\r\n\r\n{\n  \"name\":
      \"test-package-with_inline-data\",\n  \"resources\": [\n    {\n      \"name\":
      \"test\",\n      \"type\": \"table\",\n      \"data\": [\n        {\n          \"a\":
      1,\n          \"b\": 2\n        }\n      ],\n      \"format\": \"inline\"\n
      \   }\n  ]\n}\r\n--92c32695f41a2d035095ffdb0fef9396--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=92c32695f41a2d035095ffdb0fef9396
    method: POST
    uri: https://zenodo.org/api//deposit/depositions/15552257/files
  response:
    body:
      string: '{"id": "ec39106f-724f-4b51-8661-50286845f14c", "filename": "datapackage.json",
        "filesize": 229.0, "checksum": "e79d2106983edc47d7ce64b387c758a8", "links":
        {"self": "https://zenodo.org/api/deposit/depositions/15552257/files/ec39106f-724f-4b51-8661-50286845f14c",
        "download": "https://zenodo.org/api/records/15552257/draft/files/datapackage.json/content"}}'
    headers:
      content-type:
      - application/json
      retry-after:
      - '32'
      x-ratelimit-limit:
      - '133'
      x-ratelimit-remaining:
      - '98'
      x-ratelimit-reset:
      - '1748596267'
    status:
      code: 201
      message: CREATED
version: 1
