interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://zenodo.org/api/records?page=1&q=creators.name%3A%22FD+Tester%22&size=1&sort=bestmatch
  response:
    body:
      string: '{"hits": {"hits": [{"created": "2022-09-17T16:25:09.618510+00:00",
        "modified": "2022-09-18T02:26:39.710746+00:00", "id": 7089059, "conceptrecid":
        "7089057", "doi": "10.5281/zenodo.7089059", "conceptdoi": "10.5281/zenodo.7089057",
        "doi_url": "https://doi.org/10.5281/zenodo.7089059", "metadata": {"title":
        "Frictionless Data Test Dataset - Draft", "doi": "10.5281/zenodo.7089059",
        "publication_date": "2022-09-17", "description": "<p>This is a test dataset</p>",
        "access_right": "open", "creators": [{"name": "FD Tester", "affiliation":
        "FD Tester"}], "resource_type": {"title": "Dataset", "type": "dataset"}, "license":
        {"id": "cc-by-4.0"}, "relations": {"version": [{"index": 0, "is_last": true,
        "parent": {"pid_type": "recid", "pid_value": "7089057"}}]}}, "title": "Frictionless
        Data Test Dataset - Draft", "links": {"self": "https://zenodo.org/api/records/7089059",
        "self_html": "https://zenodo.org/records/7089059", "preview_html": "https://zenodo.org/records/7089059?preview=1",
        "doi": "https://doi.org/10.5281/zenodo.7089059", "self_doi": "https://doi.org/10.5281/zenodo.7089059",
        "self_doi_html": "https://zenodo.org/doi/10.5281/zenodo.7089059", "reserve_doi":
        "https://zenodo.org/api/records/7089059/draft/pids/doi", "parent": "https://zenodo.org/api/records/7089057",
        "parent_html": "https://zenodo.org/records/7089057", "parent_doi": "https://doi.org/10.5281/zenodo.7089057",
        "parent_doi_html": "https://zenodo.org/doi/10.5281/zenodo.7089057", "self_iiif_manifest":
        "https://zenodo.org/api/iiif/record:7089059/manifest", "self_iiif_sequence":
        "https://zenodo.org/api/iiif/record:7089059/sequence/default", "files": "https://zenodo.org/api/records/7089059/files",
        "media_files": "https://zenodo.org/api/records/7089059/media-files", "archive":
        "https://zenodo.org/api/records/7089059/files-archive", "archive_media": "https://zenodo.org/api/records/7089059/media-files-archive",
        "latest": "https://zenodo.org/api/records/7089059/versions/latest", "latest_html":
        "https://zenodo.org/records/7089059/latest", "versions": "https://zenodo.org/api/records/7089059/versions",
        "draft": "https://zenodo.org/api/records/7089059/draft", "access_links": "https://zenodo.org/api/records/7089059/access/links",
        "access_grants": "https://zenodo.org/api/records/7089059/access/grants", "access_users":
        "https://zenodo.org/api/records/7089059/access/users", "access_request": "https://zenodo.org/api/records/7089059/access/request",
        "access": "https://zenodo.org/api/records/7089059/access", "communities":
        "https://zenodo.org/api/records/7089059/communities", "communities-suggestions":
        "https://zenodo.org/api/records/7089059/communities-suggestions", "requests":
        "https://zenodo.org/api/records/7089059/requests"}, "updated": "2022-09-18T02:26:39.710746+00:00",
        "recid": "7089059", "revision": 2, "files": [{"id": "069a17f0-ba88-454d-8aed-3e106d028ef4",
        "key": "capitals.csv", "size": 76, "checksum": "md5:154d822b8c2aa259867067f01c0efee5",
        "links": {"self": "https://zenodo.org/api/records/7089059/files/capitals.csv/content"}}],
        "swh": {}, "owners": [{"id": "405552"}], "status": "published", "stats": {"downloads":
        62, "unique_downloads": 26, "views": 83, "unique_views": 77, "version_downloads":
        62, "version_unique_downloads": 26, "version_unique_views": 77, "version_views":
        83}, "state": "done", "submitted": true}], "total": 8}, "aggregations": {"access_status":
        {"buckets": [{"key": "open", "doc_count": 8, "label": "Open", "is_selected":
        false}], "label": "Access status"}, "resource_type": {"buckets": [{"key":
        "dataset", "doc_count": 6, "label": "Dataset", "is_selected": false, "inner":
        {"buckets": []}}, {"key": "publication", "doc_count": 2, "label": "Publication",
        "is_selected": false, "inner": {"buckets": [{"key": "publication-article",
        "doc_count": 1, "label": "Journal article", "is_selected": false}, {"key":
        "publication-thesis", "doc_count": 1, "label": "Thesis", "is_selected": false}]}}],
        "label": "Resource types"}, "subject": {"buckets": [{"key": "FDTP", "doc_count":
        2, "label": "FDTP", "is_selected": false}, {"key": "FDTD", "doc_count": 1,
        "label": "FDTD", "is_selected": false}, {"key": "TDBASIC", "doc_count": 1,
        "label": "TDBASIC", "is_selected": false}, {"key": "TP", "doc_count": 1, "label":
        "TP", "is_selected": false}, {"key": "TPJ", "doc_count": 1, "label": "TPJ",
        "is_selected": false}], "label": "Subjects"}, "file_type": {"buckets": [{"key":
        "xls", "doc_count": 5, "label": "XLS", "is_selected": false}, {"key": "json",
        "doc_count": 4, "label": "JSON", "is_selected": false}, {"key": "csv", "doc_count":
        3, "label": "CSV", "is_selected": false}, {"key": "pdf", "doc_count": 1, "label":
        "PDF", "is_selected": false}, {"key": "xlsx", "doc_count": 1, "label": "XLSX",
        "is_selected": false}], "label": "File type"}}, "links": {"self": "https://zenodo.org/api/records?page=1&q=creators.name%3A%22FD%20Tester%22&size=1&sort=bestmatch",
        "next": "https://zenodo.org/api/records?page=2&q=creators.name%3A%22FD%20Tester%22&size=1&sort=bestmatch"}}'
    headers:
      content-type:
      - application/json
      retry-after:
      - '17'
      x-ratelimit-limit:
      - '133'
      x-ratelimit-remaining:
      - '98'
      x-ratelimit-reset:
      - '1753531313'
    status:
      code: 200
      message: OK
version: 1
