interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://zenodo.org/api/records?page=1&q=creators.name%3A%22FD+Tester%22&size=1&sort=bestmatch
  response:
    body:
      string: '{"hits": {"hits": [{"created": "2022-09-18T06:22:20.797375+00:00",
        "modified": "2022-09-18T14:26:16.711812+00:00", "id": 7089850, "conceptrecid":
        "7089849", "doi": "10.5281/zenodo.7089850", "conceptdoi": "10.5281/zenodo.7089849",
        "doi_url": "https://doi.org/10.5281/zenodo.7089850", "metadata": {"title":
        "Frictionless Data Test Publication", "doi": "10.5281/zenodo.7089850", "publication_date":
        "2022-09-18", "description": "<p>This is a test publication</p>", "access_right":
        "open", "creators": [{"name": "FD Tester", "affiliation": "FD Testing"}],
        "keywords": ["FDTP", "TP"], "resource_type": {"title": "Thesis", "type": "publication",
        "subtype": "thesis"}, "license": {"id": "cc-by-4.0"}, "relations": {"version":
        [{"index": 0, "is_last": true, "parent": {"pid_type": "recid", "pid_value":
        "7089849"}}]}}, "title": "Frictionless Data Test Publication", "links": {"self":
        "https://zenodo.org/api/records/7089850", "self_html": "https://zenodo.org/records/7089850",
        "preview_html": "https://zenodo.org/records/7089850?preview=1", "doi": "https://doi.org/10.5281/zenodo.7089850",
        "self_doi": "https://doi.org/10.5281/zenodo.7089850", "self_doi_html": "https://zenodo.org/doi/10.5281/zenodo.7089850",
        "reserve_doi": "https://zenodo.org/api/records/7089850/draft/pids/doi", "parent":
        "https://zenodo.org/api/records/7089849", "parent_html": "https://zenodo.org/records/7089849",
        "parent_doi": "https://doi.org/10.5281/zenodo.7089849", "parent_doi_html":
        "https://zenodo.org/doi/10.5281/zenodo.7089849", "self_iiif_manifest": "https://zenodo.org/api/iiif/record:7089850/manifest",
        "self_iiif_sequence": "https://zenodo.org/api/iiif/record:7089850/sequence/default",
        "files": "https://zenodo.org/api/records/7089850/files", "media_files": "https://zenodo.org/api/records/7089850/media-files",
        "archive": "https://zenodo.org/api/records/7089850/files-archive", "archive_media":
        "https://zenodo.org/api/records/7089850/media-files-archive", "latest": "https://zenodo.org/api/records/7089850/versions/latest",
        "latest_html": "https://zenodo.org/records/7089850/latest", "versions": "https://zenodo.org/api/records/7089850/versions",
        "draft": "https://zenodo.org/api/records/7089850/draft", "access_links": "https://zenodo.org/api/records/7089850/access/links",
        "access_grants": "https://zenodo.org/api/records/7089850/access/grants", "access_users":
        "https://zenodo.org/api/records/7089850/access/users", "access_request": "https://zenodo.org/api/records/7089850/access/request",
        "access": "https://zenodo.org/api/records/7089850/access", "communities":
        "https://zenodo.org/api/records/7089850/communities", "communities-suggestions":
        "https://zenodo.org/api/records/7089850/communities-suggestions", "requests":
        "https://zenodo.org/api/records/7089850/requests"}, "updated": "2022-09-18T14:26:16.711812+00:00",
        "recid": "7089850", "revision": 2, "files": [{"id": "d2f3ca28-30ba-4330-a676-6e7caf185c24",
        "key": "pubtable.xls", "size": 6144, "checksum": "md5:fa0866b4896cd466559076c7ecef61ed",
        "links": {"self": "https://zenodo.org/api/records/7089850/files/pubtable.xls/content"}}],
        "swh": {}, "owners": [{"id": "405552"}], "status": "published", "stats": {"downloads":
        38, "unique_downloads": 19, "views": 47, "unique_views": 47, "version_downloads":
        38, "version_unique_downloads": 19, "version_unique_views": 47, "version_views":
        47}, "state": "done", "submitted": true}], "total": 8}, "aggregations": {"access_status":
        {"buckets": [{"key": "open", "doc_count": 8, "label": "Open", "is_selected":
        false}], "label": "Access status"}, "resource_type": {"buckets": [{"key":
        "dataset", "doc_count": 6, "label": "Dataset", "is_selected": false, "inner":
        {"buckets": []}}, {"key": "publication", "doc_count": 2, "label": "Publication",
        "is_selected": false, "inner": {"buckets": [{"key": "publication-article",
        "doc_count": 1, "label": "Journal article", "is_selected": false}, {"key":
        "publication-thesis", "doc_count": 1, "label": "Thesis", "is_selected": false}]}}],
        "label": "Resource types"}, "subject": {"buckets": [{"key": "FDTP", "doc_count":
        2, "label": "FDTP", "is_selected": false}, {"key": "FDTD", "doc_count": 1,
        "label": "FDTD", "is_selected": false}, {"key": "TDBASIC", "doc_count": 1,
        "label": "TDBASIC", "is_selected": false}, {"key": "TP", "doc_count": 1, "label":
        "TP", "is_selected": false}, {"key": "TPJ", "doc_count": 1, "label": "TPJ",
        "is_selected": false}], "label": "Subjects"}, "file_type": {"buckets": [{"key":
        "xls", "doc_count": 5, "label": "XLS", "is_selected": false}, {"key": "json",
        "doc_count": 4, "label": "JSON", "is_selected": false}, {"key": "csv", "doc_count":
        3, "label": "CSV", "is_selected": false}, {"key": "pdf", "doc_count": 1, "label":
        "PDF", "is_selected": false}, {"key": "xlsx", "doc_count": 1, "label": "XLSX",
        "is_selected": false}], "label": "File type"}}, "links": {"self": "https://zenodo.org/api/records?page=1&q=creators.name%3A%22FD%20Tester%22&size=1&sort=bestmatch",
        "next": "https://zenodo.org/api/records?page=2&q=creators.name%3A%22FD%20Tester%22&size=1&sort=bestmatch"}}'
    headers:
      content-type:
      - application/json
      retry-after:
      - '19'
      x-ratelimit-limit:
      - '133'
      x-ratelimit-remaining:
      - '82'
      x-ratelimit-reset:
      - '1748596267'
    status:
      code: 200
      message: OK
version: 1
