interactions:
- request:
    body: "{\n  \"metadata\": {\n    \"title\": \"Test Write File - Deposition Id\",\n
      \   \"description\": \"Test Write File - Deposition Id\",\n    \"publication_date\":
      \"2025-05-30\",\n    \"upload_type\": \"dataset\",\n    \"access_right\": \"open\",\n
      \   \"creators\": [\n      {\n        \"name\": \"FD Tester\",\n        \"affiliation\":
      \"FD Testing Write\"\n      }\n    ]\n  }\n}"
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://zenodo.org/api//deposit/depositions/7098476
  response:
    body:
      string: '{"status": 403, "message": "Permission denied."}'
    headers:
      content-type:
      - application/json
      retry-after:
      - '49'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '985'
      x-ratelimit-reset:
      - '1748596285'
    status:
      code: 403
      message: FORBIDDEN
version: 1
