interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sandbox.zenodo.org/api//deposit/depositions
  response:
    body:
      string: '{"created": "2025-07-26T12:01:18.853957+00:00", "modified": "2025-07-26T12:01:18.923950+00:00",
        "id": 298283, "conceptrecid": "298282", "metadata": {"access_right": "open",
        "prereserve_doi": {"doi": "10.5281/zenodo.298283", "recid": 298283}}, "title":
        "", "links": {"self": "https://sandbox.zenodo.org/api/deposit/depositions/298283",
        "html": "https://sandbox.zenodo.org/deposit/298283", "badge": "https://sandbox.zenodo.org/badge/doi/.svg",
        "files": "https://sandbox.zenodo.org/api/deposit/depositions/298283/files",
        "bucket": "https://sandbox.zenodo.org/api/files/7cf6b6f5-77d7-48d1-86e5-14d99aa672a0",
        "latest_draft": "https://sandbox.zenodo.org/api/deposit/depositions/298283",
        "latest_draft_html": "https://sandbox.zenodo.org/deposit/298283", "publish":
        "https://sandbox.zenodo.org/api/deposit/depositions/298283/actions/publish",
        "edit": "https://sandbox.zenodo.org/api/deposit/depositions/298283/actions/edit",
        "discard": "https://sandbox.zenodo.org/api/deposit/depositions/298283/actions/discard",
        "newversion": "https://sandbox.zenodo.org/api/deposit/depositions/298283/actions/newversion"},
        "record_id": 298283, "owner": 43920, "files": [], "state": "unsubmitted",
        "submitted": false}'
    headers:
      content-type:
      - application/json
      etag:
      - '"4"'
      retry-after:
      - '52'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '978'
      x-ratelimit-reset:
      - '1753531332'
    status:
      code: 201
      message: CREATED
- request:
    body: "{\n  \"metadata\": {\n    \"title\": \"Test Write File - Data\",\n    \"description\":
      \"Test Write File - Data\",\n    \"publication_date\": \"2025-07-26\",\n    \"upload_type\":
      \"dataset\",\n    \"access_right\": \"open\",\n    \"creators\": [\n      {\n
      \       \"name\": \"FD Tester\",\n        \"affiliation\": \"FD Testing Write\"\n
      \     }\n    ]\n  }\n}"
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://sandbox.zenodo.org/api//deposit/depositions/298283
  response:
    body:
      string: '{"created": "2025-07-26T12:01:18.853957+00:00", "modified": "2025-07-26T12:01:19.217230+00:00",
        "id": 298283, "conceptrecid": "298282", "metadata": {"title": "Test Write
        File - Data", "publication_date": "2025-07-26", "description": "Test Write
        File - Data", "access_right": "open", "creators": [{"name": "FD Tester", "affiliation":
        "FD Testing Write"}], "license": "cc-zero", "imprint_publisher": "Zenodo",
        "upload_type": "dataset", "prereserve_doi": {"doi": "10.5281/zenodo.298283",
        "recid": 298283}}, "title": "Test Write File - Data", "links": {"self": "https://sandbox.zenodo.org/api/deposit/depositions/298283",
        "html": "https://sandbox.zenodo.org/deposit/298283", "badge": "https://sandbox.zenodo.org/badge/doi/.svg",
        "files": "https://sandbox.zenodo.org/api/deposit/depositions/298283/files",
        "bucket": "https://sandbox.zenodo.org/api/files/7cf6b6f5-77d7-48d1-86e5-14d99aa672a0",
        "latest_draft": "https://sandbox.zenodo.org/api/deposit/depositions/298283",
        "latest_draft_html": "https://sandbox.zenodo.org/deposit/298283", "publish":
        "https://sandbox.zenodo.org/api/deposit/depositions/298283/actions/publish",
        "edit": "https://sandbox.zenodo.org/api/deposit/depositions/298283/actions/edit",
        "discard": "https://sandbox.zenodo.org/api/deposit/depositions/298283/actions/discard",
        "newversion": "https://sandbox.zenodo.org/api/deposit/depositions/298283/actions/newversion"},
        "record_id": 298283, "owner": 43920, "files": [], "state": "unsubmitted",
        "submitted": false}'
    headers:
      content-type:
      - application/json
      etag:
      - W/"6"
      retry-after:
      - '52'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '977'
      x-ratelimit-reset:
      - '1753531332'
    status:
      code: 200
      message: OK
- request:
    body: "--96214f21ccab4fe32a984aa2638789a7\r\nContent-Disposition: form-data; name=\"filename\"\r\n\r\n/tmp/pytest-of-coroa/pytest-9/test_zenodo_adapter_write_reso0/tmp1fombdpm/datapackage.json\r\n--96214f21ccab4fe32a984aa2638789a7\r\nContent-Disposition:
      form-data; name=\"file\"; filename=\"datapackage.json\"\r\n\r\n{\n  \"name\":
      \"test-package-with_inline-data\",\n  \"resources\": [\n    {\n      \"name\":
      \"test\",\n      \"type\": \"table\",\n      \"data\": [\n        {\n          \"a\":
      1,\n          \"b\": 2\n        }\n      ],\n      \"format\": \"inline\"\n
      \   }\n  ]\n}\r\n--96214f21ccab4fe32a984aa2638789a7--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=96214f21ccab4fe32a984aa2638789a7
    method: POST
    uri: https://sandbox.zenodo.org/api//deposit/depositions/298283/files
  response:
    body:
      string: '{"id": "1a45b8d1-d09d-49db-b056-e6f6cfb956d6", "filename": "datapackage.json",
        "filesize": 229.0, "checksum": "e79d2106983edc47d7ce64b387c758a8", "links":
        {"self": "https://sandbox.zenodo.org/api/deposit/depositions/298283/files/1a45b8d1-d09d-49db-b056-e6f6cfb956d6",
        "download": "https://sandbox.zenodo.org/api/records/298283/draft/files/datapackage.json/content"}}'
    headers:
      content-type:
      - application/json
      retry-after:
      - '52'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '976'
      x-ratelimit-reset:
      - '1753531332'
    status:
      code: 201
      message: CREATED
version: 1
