interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://zenodo.org/api//deposit/depositions
  response:
    body:
      string: '{"created": "2025-05-30T09:10:29.471974+00:00", "modified": "2025-05-30T09:10:29.568990+00:00",
        "id": 15552253, "conceptrecid": "15552252", "metadata": {"access_right": "open",
        "prereserve_doi": {"doi": "10.5281/zenodo.15552253", "recid": 15552253}},
        "title": "", "links": {"self": "https://zenodo.org/api/deposit/depositions/15552253",
        "html": "https://zenodo.org/deposit/15552253", "badge": "https://zenodo.org/badge/doi/.svg",
        "files": "https://zenodo.org/api/deposit/depositions/15552253/files", "bucket":
        "https://zenodo.org/api/files/2a0848d6-e596-4046-a239-bea425510725", "latest_draft":
        "https://zenodo.org/api/deposit/depositions/15552253", "latest_draft_html":
        "https://zenodo.org/deposit/15552253", "publish": "https://zenodo.org/api/deposit/depositions/15552253/actions/publish",
        "edit": "https://zenodo.org/api/deposit/depositions/15552253/actions/edit",
        "discard": "https://zenodo.org/api/deposit/depositions/15552253/actions/discard",
        "newversion": "https://zenodo.org/api/deposit/depositions/15552253/actions/newversion"},
        "record_id": 15552253, "owner": 31725, "files": [], "state": "unsubmitted",
        "submitted": false}'
    headers:
      content-type:
      - application/json
      etag:
      - '"4"'
      retry-after:
      - '55'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '992'
      x-ratelimit-reset:
      - '1748596285'
    status:
      code: 201
      message: CREATED
- request:
    body: "{\n  \"metadata\": {\n    \"title\": \"Test Write File - NDJSON\",\n    \"description\":
      \"Test Write File - NDJSON\",\n    \"publication_date\": \"2025-05-30\",\n    \"upload_type\":
      \"dataset\",\n    \"access_right\": \"open\",\n    \"creators\": [\n      {\n
      \       \"name\": \"FD Tester\",\n        \"affiliation\": \"FD Testing Write\"\n
      \     }\n    ]\n  }\n}"
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://zenodo.org/api//deposit/depositions/15552253
  response:
    body:
      string: '{"created": "2025-05-30T09:10:29.471974+00:00", "modified": "2025-05-30T09:10:29.941622+00:00",
        "id": 15552253, "conceptrecid": "15552252", "metadata": {"title": "Test Write
        File - NDJSON", "publication_date": "2025-05-30", "description": "Test Write
        File - NDJSON", "access_right": "open", "creators": [{"name": "FD Tester",
        "affiliation": "FD Testing Write"}], "license": "cc-zero", "imprint_publisher":
        "Zenodo", "upload_type": "dataset", "prereserve_doi": {"doi": "10.5281/zenodo.15552253",
        "recid": 15552253}}, "title": "Test Write File - NDJSON", "links": {"self":
        "https://zenodo.org/api/deposit/depositions/15552253", "html": "https://zenodo.org/deposit/15552253",
        "badge": "https://zenodo.org/badge/doi/.svg", "files": "https://zenodo.org/api/deposit/depositions/15552253/files",
        "bucket": "https://zenodo.org/api/files/2a0848d6-e596-4046-a239-bea425510725",
        "latest_draft": "https://zenodo.org/api/deposit/depositions/15552253", "latest_draft_html":
        "https://zenodo.org/deposit/15552253", "publish": "https://zenodo.org/api/deposit/depositions/15552253/actions/publish",
        "edit": "https://zenodo.org/api/deposit/depositions/15552253/actions/edit",
        "discard": "https://zenodo.org/api/deposit/depositions/15552253/actions/discard",
        "newversion": "https://zenodo.org/api/deposit/depositions/15552253/actions/newversion"},
        "record_id": 15552253, "owner": 31725, "files": [], "state": "unsubmitted",
        "submitted": false}'
    headers:
      content-type:
      - application/json
      etag:
      - W/"6"
      retry-after:
      - '36'
      x-ratelimit-limit:
      - '133'
      x-ratelimit-remaining:
      - '104'
      x-ratelimit-reset:
      - '1748596267'
    status:
      code: 200
      message: OK
- request:
    body: "--38d4cdd3ee6cedc25ccc3e946327ad5d\r\nContent-Disposition: form-data; name=\"filename\"\r\n\r\n/tmp/tmp2xqzwq4m/datapackage.json\r\n--38d4cdd3ee6cedc25ccc3e946327ad5d\r\nContent-Disposition:
      form-data; name=\"file\"; filename=\"datapackage.json\"\r\n\r\n{\n  \"name\":
      \"ndjson-package\",\n  \"resources\": [\n    {\n      \"name\": \"table2\",\n
      \     \"type\": \"table\",\n      \"path\": \"table.ndjson\",\n      \"scheme\":
      \"file\",\n      \"format\": \"ndjson\",\n      \"mediatype\": \"text/ndjson\",\n
      \     \"encoding\": \"utf-8\",\n      \"dialect\": {\n        \"csv\": {\n          \"delimiter\":
      \"\\t\",\n          \"skipInitialSpace\": true\n        },\n        \"json\":
      {\n          \"keyed\": true\n        }\n      },\n      \"schema\": {\n        \"fields\":
      [\n          {\n            \"name\": \"id\",\n            \"type\": \"integer\"\n
      \         },\n          {\n            \"name\": \"name\",\n            \"type\":
      \"string\"\n          }\n        ]\n      }\n    }\n  ]\n}\r\n--38d4cdd3ee6cedc25ccc3e946327ad5d--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=38d4cdd3ee6cedc25ccc3e946327ad5d
    method: POST
    uri: https://zenodo.org/api//deposit/depositions/15552253/files
  response:
    body:
      string: '{"id": "d63d183a-3b92-4446-b2c1-79fc24d07c32", "filename": "datapackage.json",
        "filesize": 642.0, "checksum": "c2a9412ff9d3ec23a3c3cdcb3e006962", "links":
        {"self": "https://zenodo.org/api/deposit/depositions/15552253/files/d63d183a-3b92-4446-b2c1-79fc24d07c32",
        "download": "https://zenodo.org/api/records/15552253/draft/files/datapackage.json/content"}}'
    headers:
      content-type:
      - application/json
      retry-after:
      - '36'
      x-ratelimit-limit:
      - '133'
      x-ratelimit-remaining:
      - '103'
      x-ratelimit-reset:
      - '1748596267'
    status:
      code: 201
      message: CREATED
- request:
    body: "--b2f72590b97d57841d65277b7c60c7fb\r\nContent-Disposition: form-data; name=\"filename\"\r\n\r\ndata/table.ndjson\r\n--b2f72590b97d57841d65277b7c60c7fb\r\nContent-Disposition:
      form-data; name=\"file\"; filename=\"table.ndjson\"\r\n\r\n{\"id\":1,\"name\":\"english\"}\n{\"id\":2,\"name\":\"\u4E2D\u56FD\u4EBA\"}\n\r\n--b2f72590b97d57841d65277b7c60c7fb--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=b2f72590b97d57841d65277b7c60c7fb
    method: POST
    uri: https://zenodo.org/api//deposit/depositions/15552253/files
  response:
    body:
      string: '{"id": "96c13599-abb6-4c0a-bab9-378068443895", "filename": "table.ndjson",
        "filesize": 54.0, "checksum": "ede814f1c4be172cbee337596131924c", "links":
        {"self": "https://zenodo.org/api/deposit/depositions/15552253/files/96c13599-abb6-4c0a-bab9-378068443895",
        "download": "https://zenodo.org/api/records/15552253/draft/files/table.ndjson/content"}}'
    headers:
      content-type:
      - application/json
      retry-after:
      - '54'
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '991'
      x-ratelimit-reset:
      - '1748596285'
    status:
      code: 201
      message: CREATED
version: 1
